<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>TAB</h1>

      <p>
        The <b>materialize-tab</b> component is for organize content into separate views but only one can be visible.
      </p>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeTabModule</span> in your module.
        </p>
        <p class="text-indent margin-bottom-sm">
          - Use the <span class="text-accent secondary">materialize-tab-group</span> tag in your template.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materialize-tab-group</span> tag into your <span class="text-accent secondary">materialize-tab-group</span>
          to display your tab title and tab content.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-tab-group>
              <materialize-tab title="Tab A">Tab A</materialize-tab>
              <materialize-tab title="Tab B">Tab B</materialize-tab>
            </materialize-tab-group>
          '></materialize-html-visualizer>
        </p>

        <h3>Result</h3>
        <div class="text-indent">
          <materialize-tab-group>
            <materialize-tab title="Tab A">Tab A</materialize-tab>
            <materialize-tab title="Tab B">Tab B</materialize-tab>
          </materialize-tab-group>
        </div>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="api">
      <h2>API</h2>
      <p>
        Materialize Angular provides custom functions to add functionallity its components in different ways,
        the most common is using attributes in the component tag.
      </p>

      <div class="card">
        <h4 class="primary">@Input Properties: Tab Group</h4>
        <table class="table-guide margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Default</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>className</td>
              <td>string</td>
              <td></td>
              <td>
                To specify an additional CSS class, use the "className" property.
                This applies to the component's first node.
              </td>
            </tr>
            <tr>
              <td>selectedIndex</td>
              <td>number</td>
              <td>0</td>
              <td></td>
            </tr>
            <tr>
              <td>transitionDuration</td>
              <td>number</td>
              <td>450</td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <h4 class="primary">@Input Properties: Tab</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Default</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>className</td>
              <td>string</td>
              <td></td>
              <td>
                To specify an additional CSS class, use the "className" property.
                This applies to the component's first node.
              </td>
            </tr>
            <tr>
              <td>disabled</td>
              <td>boolean</td>
              <td>false</td>
              <td>
                If true, the tab title should be displayed in a disabled state .
              </td>
            </tr>
            <tr>
              <td>link</td>
              <td>string</td>
              <td>" "</td>
              <td></td>
            </tr>
            <tr>
              <td>title</td>
              <td>string</td>
              <td>" "</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card">
        <h4 class="secondary">@Output Events: Slider</h4>
        <table class="table-guide margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Signature</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>onSelectTab</td>
              <td>onTabSelectEmitter</td><td>EventEmitter&lt;number&gt;</td>
              <td>"none"</td>
            </tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>

      <p>
        Materialize Angular supports a lot of SASS variables to change all the component
        style so that feel to modify component look and feel by changing the following SASS variables.<br><br>

        The Materialize Angular SASS variable names are created base on the following pattern:<br><br>
        <span class="text-accent terciary">"tagClassName" + (optional "-" + "modifierTagClassName" ) + "-" + "cssProperty"</span>
      </p>

      <div class="card">
        <h4 class="terciary">.tab-group</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-tab-group-align-items</td><td>flex-start</td></tr>
            <tr><td>$materialize-tab-group-border-color</td><td>map-get($theme-colors, 'gray-60')</td></tr>
            <tr><td>$materialize-tab-group-border-style</td><td>solid</td></tr>
            <tr><td>$materialize-tab-group-border-width</td><td>0 0 $theme-border-sm 0</td></tr>
            <tr><td>$materialize-tab-group-justify-content</td><td>flex-start</td></tr>
            <tr><td>$materialize-tab-group-margin</td><td>0 0 $theme-space-lg</td></tr>
            <tr><td>$materialize-tab-group-padding</td><td>0</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.tab-group with modifications (:hover, .active)</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-tab-group-hover-item-background</td><td>map-get($theme-colors, 'gray-80')</td></tr>
            <tr><td>$materialize-tab-group-active-item-color</td><td>map-get($theme-colors, 'primary')</td></tr>
            <tr><td>$materialize-tab-group-active-item-font-weight</td><td>$theme-font-weight-medium</td></tr>
            <tr><td>$materialize-tab-group-disabled-item-color</td><td>map-get($theme-colors, 'gray-60')</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.tab-group-item</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-tab-group-item-border-radius</td><td>0</td></tr>
            <tr><td>$materialize-tab-group-item-color</td><td>map-get($theme-colors, 'gray-20')</td></tr>
            <tr><td>$materialize-tab-group-item-cursor</td><td>pointer</td></tr>
            <tr><td>$materialize-tab-group-item-font-family</td><td>$theme-font-family-primary</td></tr>
            <tr><td>$materialize-tab-group-item-font-size</td><td>$theme-font-size-md</td></tr>
            <tr><td>$materialize-tab-group-item-font-weight</td><td>$theme-font-weight-regular</td></tr>
            <tr><td>$materialize-tab-group-item-letter-spacing</td><td>0</td></tr>
            <tr><td>$materialize-tab-group-item-line-height</td><td>100%</td></tr>
            <tr><td>$materialize-tab-group-item-padding</td><td>$theme-space-md $theme-space-lg</td></tr>
            <tr><td>$materialize-tab-group-item-text-align</td><td>center</td></tr>
            <tr><td>$materialize-tab-group-item-transition</td><td>$theme-property-background $theme-timer-md $theme-transition-function-ease</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.tab-group-indicator-container</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-tab-group-indicator-container-bottom</td><td>0</td></tr>
            <tr><td>$materialize-tab-group-indicator-container-transition-function</td><td>cubic-bezier(0.35, 0, 0.25, 1)</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.tab-group-indicator</h4>
        <table class="table-guide table-sass">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-tab-group-indicator-background</td><td>map-get($theme-colors, 'primary')</td></tr>
            <tr><td>$materialize-tab-group-indicator-border-radius</td><td>$theme-border-md</td></tr>
            <tr><td>$materialize-tab-group-indicator-height</td><td>$theme-border-md</td></tr>
            <tr><td>$materialize-tab-group-indicator-width</td><td>100%</td></tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <div class="card">
        <p class="no-margin">Out team is working hardly to give you the highest experience on our web components playground</p>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>

      <div class="card">
        <h3>Simple tab</h3>
        <materialize-tab-group>
          <materialize-tab title="Header A">Content A</materialize-tab>
          <materialize-tab title="Header B">Content B</materialize-tab>
        </materialize-tab-group>

        <h3>Simple tab with disabled tab</h3>
        <materialize-tab-group>
          <materialize-tab title="Header A">Content A</materialize-tab>
          <materialize-tab title="Header B" [disabled]="true">Content B disabled</materialize-tab>
        </materialize-tab-group>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <div class="up-next-container">
        <div class="up-next-item">
          <div class="card" routerLink="/guide/components/calendar" materializeRipple>
            <p>Calendar</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/layout/drawer" materializeRipple>
            <p>Drawer</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/layout/navbar" materializeRipple>
            <p>Navbar</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
      </div>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>

  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" [topSpace]="90" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Tab</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>
  </div>
</div>
