<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>COLLAPSIBLE</h1>

      <p>
        The <b>materialize-collapsible</b> component you can control the state of a toolbar when the user interacts with it.
      </p>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeCollapsibleModule</span> in your module.
        </p>
        <p class="text-indent margin-bottom-sm">
          - Use the <span class="text-accent secondary">materialize-collapsible</span> tag in your template.
        </p>
        <p class="text-indent margin-bottom-sm">
          - Use the <span class="text-accent secondary">materialize-collapsible-title</span> tag into your <span class="text-accent secondary">materialize-collapsible</span>
          to display the collapsible title.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materialize-collapsible-content</span> tag into your <span class="text-accent secondary">materialize-collapsible</span>
          to display the collapsible content.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-collapsible>
              <materialize-collapsible-title>Title</materialize-collapsible-title>
              <materialize-collapsible-content>Content</materialize-collapsible-content>
            </materialize-collapsible>
          '></materialize-html-visualizer>
        </p>

        <h3>Result</h3>
        <p class="text-indent no-margin">
          <materialize-collapsible>
            <materialize-collapsible-title>Title</materialize-collapsible-title>
            <materialize-collapsible-content>Content</materialize-collapsible-content>
          </materialize-collapsible>
        </p>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="api">
      <h2>API</h2>
      <p>
        Materialize Angular provides custom functions to add functionallity its components in different ways,
        the most common is using attributes in the component tag.
      </p>

      <div class="card">
        <h4 class="primary">@Input Properties</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Default</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>className</td>
              <td>string</td>
              <td></td>
              <td>
                To specify an additional CSS class, use the "className" property.
                This applies to the component's first node.
              </td>
            </tr>
            <tr>
              <td>disabled</td>
              <td>boolean</td>
              <td>false</td>
              <td>
                If true, the collapsible title should not be enable to toggle content.
              </td>
            </tr>
            <tr>
              <td>isOpen</td>
              <td>boolean</td>
              <td>false</td>
              <td></td>
            </tr>
            <tr>
              <td>showIndicator</td>
              <td>boolean</td>
              <td>true</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card">
        <h4 class="secondary">@Output Events</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Signature</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>onClose</td>
              <td>onCloseEmitter()</td><td>EventEmitter&lt;boolean&gt;</td>
              <td>"none"</td>
            </tr>
            <tr>
              <td>onOpen</td>
              <td>onOpenEmitter()</td><td>EventEmitter&lt;boolean&gt;</td>
              <td>"none"</td>
            </tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>


    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>

      <p>
        Materialize Angular supports a lot of SASS variables to change all the component
        style so that feel to modify component look and feel by changing the following SASS variables.<br><br>

        The Materialize Angular SASS variable names are created base on the following pattern:<br><br>
        <span class="text-accent terciary">"tagClassName" + (optional "-" + "modifierTagClassName" ) + "-" + "cssProperty"</span>
      </p>

      <div class="card">
        <h4 class="terciary">.collapsible</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-collapsible-background</td><td>map-get($theme-colors, 'white')</td></tr>
            <tr><td>$materialize-collapsible-box-shadow</td><td>$theme-shadow-sm</td></tr>
            <tr><td>$materialize-collapsible-border</td><td>0</td></tr>
            <tr><td>$materialize-collapsible-margin</td><td>0</td></tr>
            <tr><td>$materialize-collapsible-padding</td><td>0</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.collapsible-title</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-collapsible-title-background</td><td>map-get($theme-colors, 'white')</td></tr>
            <tr><td>$materialize-collapsible-title-color</td><td>map-get($theme-colors, 'gray-20')</td></tr>
            <tr><td>$materialize-collapsible-title-cursor</td><td>pointer</td></tr>
            <tr><td>$materialize-collapsible-title-font-family</td><td>$theme-font-family-primary</td></tr>
            <tr><td>$materialize-collapsible-title-font-size</td><td>$theme-font-size-md</td></tr>
            <tr><td>$materialize-collapsible-title-font-weight</td><td>$theme-font-weight-regular</td></tr>
            <tr><td>$materialize-collapsible-title-margin</td><td>0</td></tr>
            <tr><td>$materialize-collapsible-title-padding</td><td>$theme-space-sm</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.collapsible-title-icon</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-collapsible-title-icon-color</td><td>map-get($theme-colors, 'gray-20')</td></tr>
            <tr><td>$materialize-collapsible-title-icon-right</td><td>$theme-space-xxxs</td></tr>
            <tr><td>$materialize-collapsible-title-icon-size</td><td>22px</td></tr>
            <tr><td>$materialize-collapsible-title-icon-transition</td><td>$theme-property-transform $theme-timer-md $theme-transition-function-ease</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.collapsible-title with modifications(:hover, >.ripple)</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-collapsible-title-hover-background</td><td>map-get($theme-colors, 'gray-80')</td></tr>
            <tr><td>$materialize-collapsible-title-ripple-background</td><td>ligthen(rgba(map-get($theme-colors, 'gray-60'), 0.1), 20%)</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.collapsible-content</h4>
        <table class="table-guide table-sass">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-collapsible-content-background</td><td>map-get($theme-colors, 'white')</td></tr>
            <tr><td>$materialize-collapsible-content-color</td><td>map-get($theme-colors, 'gray-20')</td></tr>
            <tr><td>$materialize-collapsible-content-font-family</td><td>$theme-font-family-primary</td></tr>
            <tr><td>$materialize-collapsible-content-font-size</td><td>$theme-font-size-md</td></tr>
            <tr><td>$materialize-collapsible-content-font-weight</td><td>$theme-font-weight-regular</td></tr>
            <tr><td>$materialize-collapsible-content-margin</td><td>0</td></tr>
            <tr><td>$materialize-collapsible-content-padding</td><td>$theme-space-sm</td></tr>
            <tr><td>$materialize-collapsible-content-transition</td><td>$theme-property-max-height $theme-timer-md $theme-transition-function-in</td></tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <div class="card">
        <p class="no-margin">Out team is working hardly to give you the highest experience on our web components playground</p>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>

      <div class="card">
        <div class="example-container">
          <h3>Simple collapsible</h3>
          <materialize-collapsible>
            <materialize-collapsible-title>Title</materialize-collapsible-title>
            <materialize-collapsible-content>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Aliquam minima soluta enim porro atque placeat quis commodi
              deserunt veniam libero molestiae doloremque eveniet incidunt,
              odit expedita cupiditate est tenetur reprehenderit.
            </materialize-collapsible-content>
          </materialize-collapsible>
        </div>

        <div class="example-container">
          <h3>Collapsible open</h3>
          <materialize-collapsible [isOpen]="true">
            <materialize-collapsible-title>Title</materialize-collapsible-title>
            <materialize-collapsible-content>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Aliquam minima soluta enim porro atque placeat quis commodi
              deserunt veniam libero molestiae doloremque eveniet incidunt,
              odit expedita cupiditate est tenetur reprehenderit.
            </materialize-collapsible-content>
          </materialize-collapsible>
        </div>

        <div class="example-container">
          <h3>Collapsible disabled</h3>
          <materialize-collapsible [disabled]="true">
            <materialize-collapsible-title>Title</materialize-collapsible-title>
            <materialize-collapsible-content>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Aliquam minima soluta enim porro atque placeat quis commodi
              deserunt veniam libero molestiae doloremque eveniet incidunt,
              odit expedita cupiditate est tenetur reprehenderit.
            </materialize-collapsible-content>
          </materialize-collapsible>
        </div>

        <div class="example-container">
          <h3>Collapsible open disabled</h3>
          <materialize-collapsible [isOpen]="true" [disabled]="true">
            <materialize-collapsible-title>Title</materialize-collapsible-title>
            <materialize-collapsible-content>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Aliquam minima soluta enim porro atque placeat quis commodi
              deserunt veniam libero molestiae doloremque eveniet incidunt,
              odit expedita cupiditate est tenetur reprehenderit.
            </materialize-collapsible-content>
          </materialize-collapsible>
        </div>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <div class="up-next-container">
        <div class="up-next-item">
          <div class="card" routerLink="/guide/components/accordion" materializeRipple>
            <p>Accordion</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/components/modal" materializeRipple>
            <p>Modal</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/components/ripple" materializeRipple>
            <p>Ripple</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
      </div>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>

  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" [topSpace]="90" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Collapsible</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>
  </div>
</div>
