<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>RIPPLE</h1>
  
      <p>
        The <b>materialize-ripple</b> directive show how a user interact with the site. Can be applied to different components.
      </p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">  
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeCommonModule</span> in your module.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materializeRipple</span> directive in your html tag.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <div materializeRipple style="width: 300px; height: 300px; border: 1px solid #CCC;"></div>
          '></materialize-html-visualizer>        
        </p>

        <h3>Result</h3>
        <div class="text-indent">
          <div materializeRipple style="width: 300px; height: 300px; border: 1px solid #CCC;"></div>
        </div>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="api">    
      <h2>API</h2>
      <p>
        Materialize Angular provides custom functions to add functionallity its components in different ways,
        the most common is using attributes in the component tag.
      </p>

      <div class="card">
        <h4 class="primary">@Input Properties</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Default</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>rippleDuration</td>
              <td>number</td>
              <td>500</td>
              <td></td>
            </tr>
            <tr>
              <td>isRippleActive</td>
              <td>boolean</td>
              <td>true</td>
              <td></td>
            </tr>
            <tr>
              <td>isRippleCenter</td>
              <td>boolean</td>
              <td>false</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>
      <p>
        Materialize Angular supports a lot of SASS variables to change all the component
        style so that feel to modify component look and feel by changing the following SASS variables.<br><br>

        The Materialize Angular SASS variable names are created base on the following pattern:<br><br>
        <span class="text-accent terciary">"tagClassName" + (optional "-" + "modifierTagClassName" ) + "-" + "cssProperty"</span>        
      </p>
      <div class="card">
        <table class="table-guide table-sass">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-ripple-backgorund</td><td>rgba(map-get($theme-colors, 'black'), 0.1)</td></tr>
            <tr><td>$materialize-ripple-border-radius</td><td>$theme-radius-full</td></tr>
            <tr><td>$materialize-ripple-transition-property</td><td>$theme-property-opacity</td></tr>
            <tr><td>$materialize-ripple-transition-function</td><td>$theme-transition-function-in-out</td></tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <p>One example with all variants as checkbox or switch controls</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>

      <div class="card">
        <div class="example-container">
          <h3>Simple ripple</h3>
          <div materializeRipple style="width: 300px; height: 300px; border: 1px solid #CCC;"></div>
        </div>
        
        <div class="example-container">
          <h3>Ripple center</h3>
          <div materializeRipple style="width: 300px; height: 300px; border: 1px solid #CCC;" [isRippleCenter]="true"></div>
        </div>

        <div class="example-container">
          <h3>Ripple with 2 seconds</h3>
          <div materializeRipple style="width: 300px; height: 300px; border: 1px solid #CCC;" [rippleDuration]="2000"></div>
        </div>
        
        <div class="example-container">
          <h3>Ripple disabled</h3>
          <div materializeRipple style="width: 300px; height: 300px; border: 1px solid #CCC;" [isRippleActive]="false"></div>
        </div>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <p>More components here...</p>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>
  
  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" [topSpace]="90" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Card</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>      
  </div>
</div>
  