<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>ICON</h1>

      <p>
        The <b>materialize-icon</b> component provides context to your application with the different <i>images</i> that you can use. Here is the official <a href="https://materialdesignicons.com/">Material Design Icons site</a>.
      </p>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeIconModule</span> in your module.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materialize-icon</span> tag in your template.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-icon>favorite</materialize-icon>
          '></materialize-html-visualizer>
        </p>

        <h3>Result</h3>
        <p class="text-indent no-margin">
          <materialize-icon>favorite</materialize-icon>
        </p>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="api">
      <h2>API</h2>

      <p>
        Materialize Angular provides custom functions to add functionallity its components in different ways,
        the most common is using attributes in the component tag.
      </p>

      <div class="card">
          <h4 class="primary">@Input Properties</h4>
          <table class="table-guide">
            <thead>
              <tr>
                <td>Name</td>
                <td>Type</td>
                <td>Default</td>
                <td>Description</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>className</td>
                <td>string</td>
                <td>" "</td>
                <td></td>
              </tr>
              <tr>
                <td>size</td>
                <td>object</td>
                <td>ICON_SIZES.SM</td>
                <td></td>
              </tr>
            </tbody>
          </table>
      </div>

      <div class="card">
        <h4 class="secondary">@Output Events</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Signature</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>onClick</td>
              <td>onClickEmitter(): EventEmitter&lt;void&gt;</td>
              <td>"none"</td>
            </tr>
            <tr>
              <td>onBlur</td>
              <td>onBlurEmitter(): EventEmitter&lt;void&gt;</td>
              <td>"none"</td>
            </tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>
      <p>
        Materialize Angular supports a lot of SASS variables to change all the component
        style so that feel to modify component look and feel by changing the following SASS variables.<br><br>

        The Materialize Angular SASS variable names are created base on the following pattern:<br><br>
        <span class="text-accent terciary">"tagClassName" + (optional "-" + "modifierTagClassName" ) + "-" + "cssProperty"</span>
      </p>

      <div class="card">
        <table class="table-guide table-sass">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$materialize-icon-color</td>
              <td>$materialize-color-gray-light</td>
            </tr>
            <tr>
              <td>$materialize-icon-cursor</td>
              <td>pointer</td>
            </tr>
            <tr>
              <td>$materialize-icon-display</td>
              <td>inline-block</td>
            </tr>
            <tr>
              <td>$materialize-icon-outline</td>
              <td>none</td>
            </tr>
            <tr>
              <td>$materialize-icon-text-transform</td>
              <td>lowercase</td>
            </tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <p>One example with all variants as checkbox or switch controls</p>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>

      <div class="card">
        <div class="example-container">
          <h3>Icon Done</h3>
          <materialize-icon>done</materialize-icon>
        </div>

        <div class="example-container">
          <h3>Icon Accessibility</h3>
          <materialize-icon>accessibility</materialize-icon>
        </div>

        <div class="example-container">
          <h3>Icon Chat</h3>
          <materialize-icon>chat</materialize-icon>
        </div>

        <div class="example-container">
          <h3>Icon Laptop Mac</h3>
          <materialize-icon>laptop_mac</materialize-icon>
        </div>

        <div class="example-container">
          <h3>Icon Phone Android</h3>
          <materialize-icon>phone_android</materialize-icon>
        </div>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <div class="up-next-container">
        <div class="up-next-item">
          <div class="card" routerLink="/guide/components/button" materializeRipple>
            <p>Button</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/components/calendar" materializeRipple>
            <p>Calendar</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/components/collapsible" materializeRipple>
            <p>Collapsible</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
      </div>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>

  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" [topSpace]="90" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Card</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>
  </div>
</div>
