<div class="materialize-container">
  <div class="materialize-row">
    <div class="materialize-col-12">
      <h1>About</h1>
      <h3>Materialize Angular is a library to create websites in an easy way.</h3>
    </div>
  </div>
  <div class="materialize-row">
    <div class="materialize-col-12">
      <h2>Goals</h2>
      <img class="materialize-img-fluid" src="assets/images/goals.jpg" />
    </div>
    <div class="materialize-col-12 materialize-col-sm-4">
      <h3>Create</h3>
      <p>
          Create a website in less time that you could spend using other similar libraries. Change easily design and components without headache.
      </p>
    </div>
    <div class="materialize-col-12 materialize-col-sm-4">
      <h3>Unify</h3>
      <p>
          You will unify different devices, platforms and input methods using Materialize Angular library.
      </p>
    </div>
    <div class="materialize-col-12 materialize-col-sm-4">
      <h3>Customize</h3>
      <p>
          Change designs in less time using different variables for each component. You will save time with new or updating designs.
      </p>
    </div>
  </div>
  <div class="materialize-row materialize-row-gap">
    <div class="materialize-col-12">
      <h2>Principles</h2>
      <h3>Open Source</h3>
      <p>
          Always collaborating with Open Source community and happy to get help from the community.
      </p>
    </div>
    <div class="materialize-col-12 materialize-col-sm-6">
      <img class="materialize-img-fluid materialize-m-b-xs" src="assets/images/typo.jpg" />
      <h3>Inspiration</h3>
      <p>
          Materialize Angular library is inspired by different libraries with a lot of experience years behind.
      </p>
    </div>
    <div class="materialize-col-12 materialize-col-sm-6">
      <img class="materialize-img-fluid materialize-m-b-xs" src="assets/images/motion.jpg" />
      <h3>Agnostic Angular version</h3>
      <p>
        There is no version link between the Materialize Angular library and Angular core. Will be easy upgrade from different Angular versions.
      </p>
    </div>
    <div class="materialize-col-12 materialize-col-sm-6">
      <img class="materialize-img-fluid materialize-m-b-xs" src="assets/images/flexible.jpg" />
      <h3>Flexible frontend</h3>
      <p>
        With Materialize Angular will be easy change designs making the library flexible for possible future changes.
      </p>
    </div>
    <div class="materialize-col-12 materialize-col-sm-6">
        <img class="materialize-img-fluid materialize-m-b-xs" src="assets/images/cross.jpg" />
      <h3>Cross-platform</h3>
      <p>
        Compatible with different platforms and devices using shared components.
      </p>
    </div>
  </div>
</div>