<div class="materialize-container">
  <div class="materialize-row">
    <div class="materialize-col-12">
      <h1>About</h1>
      <h3>Materialize Angular is a visual language that synthesizes the classic principles of good design with the innovation of technology and science.</h3>
    </div>
  </div>
  <div class="materialize-row">
    <div class="materialize-col-12">
      <h2>Goals</h2>
      <img class="materialize-img-fluid" src="assets/images/goals.jpg" />
    </div>
    <div class="materialize-col-sm-4">
      <h3>Create</h3>
      <p>
          Create a visual language that synthesizes the classic principles of good design with the innovation and possibility of technology and science.
      </p>
    </div>
    <div class="materialize-col-sm-4">
      <h3>Unify</h3>
      <p>
          Develop a single underlying system that unifies the user experience across platforms, devices, and input methods.
      </p>
    </div>
    <div class="materialize-col-sm-4">
      <h3>Customize</h3>
      <p>
          Expand Material’s visual language and provide a flexible foundation for innovation and brand expression.
      </p>
    </div>
  </div>
  <div class="materialize-row">
    <div class="materialize-col-12">
      <h2>Principles</h2>
      <h3>Materialize Angular is the metaphor</h3>
      <p>
          Materialize Angular Design is inspired by the physical world and its textures, including how they reflect light and cast shadows. Materialize Angular surfaces reimagine the mediums of paper and ink.
      </p>
    </div>
    <div class="materialize-col-6">
      <img class="materialize-img-fluid materialize-m-b-xs" src="assets/images/typo.jpg" />
      <h3>Bold, graphic, intentional</h3>
      <p>
        Materialize Angular Design is guided by print design methods (typography, grids, space, scale, color, and imagery)to create hierarchy, meaning, and focus that immerse viewers in the experience.
      </p>
    </div>
    <div class="materialize-col-6">
      <img class="materialize-img-fluid materialize-m-b-xs" src="assets/images/motion.jpg" />
      <h3>Motion provides meaning</h3>
      <p>
        Motion focuses attention and maintains continuity, through subtle feedback and coherent transitions. As elements appear on screen, they transform and reorganize the environment, with interactions generating new transformations.
      </p>
    </div>
    <div class="materialize-col-6">
      <img class="materialize-img-fluid materialize-m-b-xs" src="assets/images/flexible.jpg" />
      <h3>Flexible foundation</h3>
      <p>
        The Material Design system is designed to enable brand expression. It’s integrated with a custom code base that allows the seamless implementation of components, plug-ins, and design elements.
      </p>
    </div>
    <div class="materialize-col-6">
        <img class="materialize-img-fluid materialize-m-b-xs" src="assets/images/cross.jpg" />
      <h3>Cross-platform</h3>
      <p>
        Material Design maintains the same UI across platforms, using shared components across Android, iOS, Flutter, and the web.
      </p>
    </div>
  </div>
</div>