<div class="materialize-container">
  <div class="materialize-row materialize-row-gap">
    <div class="materialize-col-12">
      <h1>Themes</h1>
      <h2>Easier Imposible</h2>
      <p>
          Giving your personal touch to your project has never been so easy.
          Materialize Angular supports a lot of SASS variables to change all the component style.
      </p>
      <p>
          Soon we will put at your disposal several themes.
      </p>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
