<div class="row">
  <materialize-scroll-spy class="col-10" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>TOOLTIP</h1>
  
      <p>
        The <b>materialize-tooltip</b> component is ...
      </p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>
      <p>Tooltip...</p>
  
      <p>Example</p>
      <p>Visualizer</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="api">    
      <h2>API</h2>
  
      <table>
        <tr>
          <td>Prop</td>
          <td>Type</td>
          <td>Default</td>
        </tr>
        <tr>
          <td>className</td>
          <td>string</td>
          <td>''</td>
        </tr>
      </table>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>
      <p>CSS variables here...</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <p>One example with all variants as checkbox or switch controls</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>
      <p>Many examples of them with title</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <p>More components here...</p>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>
  
  <materialize-glossary class="col-2"[scrollSpy]="scrollSpy">
    <h2>Contents</h2>
    <materialize-glossary-item referenceId="title">Tooltip</materialize-glossary-item>
    <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
    <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
    <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
    <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
    <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
    <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
  </materialize-glossary>      
</div>
        