<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>TEXTAREA</h1>
  
      <p>
        The <b>materialize-textarea</b> component is to get data (in large amounts) from the user.
      </p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">  
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeTextAreaModule</span> in your module.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materialize-textarea</span> tag in your template.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-textarea floatLabel="This is my textarea field"></materialize-textarea>
          '></materialize-html-visualizer>        
        </p>

        <h3>Result</h3>
        <p class="text-indent no-margin">
          <materialize-textarea floatLabel="This is my textarea field"></materialize-textarea>
        </p>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="api">    
      <h2>API</h2>
  
      <table>
        <tr>
          <td>Prop</td>
          <td>Type</td>
          <td>Default</td>
        </tr>
        <tr>
          <td>className</td>
          <td>string</td>
          <td>''</td>
        </tr>
      </table>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>
      <p>CSS variables here...</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <p>One example with all variants as checkbox or switch controls</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>
      
      <div class="card">
        <h3>Simple textarea</h3>
        <materialize-textarea></materialize-textarea>

        <h3>Textarea with value</h3>
        <materialize-textarea value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."></materialize-textarea>

        <h3>Textarea with 3 rows</h3>
        <materialize-textarea [rows]="3"></materialize-textarea>

        <h3>Textarea with counter</h3>
        <materialize-textarea [hasCounter]="true"></materialize-textarea>

        <h3>Textarea with placeholder</h3>
        <materialize-textarea placeholder="Write here"></materialize-textarea>
        
        <h3>Textarea with float label</h3>
        <materialize-textarea floatLabel="Float Label"></materialize-textarea>

        <h3>Textarea with float label and value</h3>
        <materialize-textarea floatLabel="Float Label" value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."></materialize-textarea>

        <h3>Textarea with float label, value and placeholder</h3>
        <materialize-textarea floatLabel="Float Label and placeholder" placeholder="Placeholder"></materialize-textarea>

        <h3>Textarea disabled</h3>
        <materialize-textarea [disabled]="true"></materialize-textarea>

        <h3>Textarea disabled with value</h3>
        <materialize-textarea [disabled]="true" value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."></materialize-textarea>

        <h3>Textarea disabled with value and float label</h3>
        <materialize-textarea [disabled]="true" floatLabel="Float Label" value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."></materialize-textarea>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <p>More components here...</p>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>
  
  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Textarea</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>      
  </div>
</div>
          