<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>TEXTAREA</h1>
  
      <p>
        The <b>materialize-textarea</b> component is to get data (in large amounts) from the user.
      </p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">  
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeTextAreaModule</span> in your module.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materialize-textarea</span> tag in your template.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-textarea floatLabel="This is my textarea field"></materialize-textarea>
          '></materialize-html-visualizer>        
        </p>

        <h3>Result</h3>
        <p class="text-indent no-margin">
          <materialize-textarea floatLabel="This is my textarea field"></materialize-textarea>
        </p>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="api">    
      <h2>API</h2>
      <p>
        Materialize Angular provides custom functions to add functionallity its components in different ways,
        the most common is using attributes in the component tag.
      </p>

      <div class="card">
        <h4 class="primary">@Input Properties</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Default</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>className</td>
              <td>string</td>
              <td>" "</td>
              <td></td>
            </tr>
            <tr>
              <td>disabled</td>
              <td>boolean</td>
              <td>false</td>
              <td></td>
            </tr>
            <tr>
              <td>floatLabel</td>
              <td>string</td>
              <td>" "</td>
              <td></td>
            </tr>
            <tr>
              <td>hasCounter</td>
              <td>boolean</td>
              <td>false</td>
              <td></td>
            </tr>
            <tr>
              <td>id</td>
              <td>string | null</td>
              <td>null</td>
              <td></td>
            </tr>
            <tr>
              <td>maxLength</td>
              <td>number</td>
              <td>500</td>
              <td></td>
            </tr>
            <tr>
              <td>minLength</td>
              <td>number</td>
              <td>0</td>
              <td></td>
            </tr>
            <tr>
              <td>name</td>
              <td>string</td>
              <td>" "</td>
              <td></td>
            </tr>
            <tr>
              <td>placeholder</td>
              <td>string</td>
              <td>" "</td>
              <td></td>
            </tr>
            <tr>
              <td>required</td>
              <td>boolean</td>
              <td>false</td>
              <td></td>
            </tr>
            <tr>
              <td>rows</td>
              <td>number</td>
              <td>1</td>
              <td></td>
            </tr>
            <tr>
              <td>value</td>
              <td>string</td>
              <td>"text"</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card">
        <h4 class="secondary">@Output Events</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Signature</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>onFocus</td>
              <td>onFocusEmitter(): EventEmitter&lt;void&gt;</td>
              <td>"none"</td>
            </tr>
            <tr>
              <td>onChange</td>
              <td>onChangeEmitter(): EventEmitter&lt;string&gt;</td>
              <td>"none"</td>
            </tr>
            <tr>
              <td>onBlur</td>
              <td>onBlurEmitter(): EventEmitter&lt;void&gt;</td>
              <td>"none"</td>
            </tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>
      <p>
        Materialize Angular supports a lot of SASS variables to change all the component
        style so that feel to modify component look and feel by changing the following SASS variables.<br><br>

        The Materialize Angular SASS variable names are created base on the following pattern:<br><br>
        <span class="text-accent terciary">"tagClassName" + (optional "-" + "modifierTagClassName" ) + "-" + "cssProperty"</span>        
      </p>

      <div class="card">
        <h4 class="terciary">.form-control-container</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$materialize-form-control-container-background</td>
              <td>$materialize-color-gray-light</td>
            </tr>
            <tr>
              <td>$materialize-form-control-container-border-color</td>
              <td>$materialize-color-gray-dark</td>
            </tr>
            <tr>
              <td>$materialize-form-control-container-border-radius</td>
              <td>$materialize-radius-sm $materialize-radius-sm 0 0</td>
            </tr>
            <tr>
              <td>$materialize-form-control-container-border-style</td>
              <td>solid</td>
            </tr>
            <tr>
              <td>$materialize-form-control-container-border-width</td>
              <td>0 0 $materialize-border-sm 0</td>
            </tr>
            <tr>
              <td>$materialize-form-control-container-margin</td>
              <td>0</td>
            </tr>
            <tr>
              <td>$materialize-form-control-container-outiline</td>
              <td>none</td>
            </tr>
            <tr>
              <td>$materialize-form-control-container-line-bottom</td>
              <td>-1px</td>
            </tr>
            <tr>
              <td>$materialize-form-control-container-line-color</td>
              <td>$materialize-color-purple</td>
            </tr>
            <tr>
              <td>$materialize-form-control-container-line-height</td>
              <td>$materialize-border-md</td>
            </tr>
            <tr>
              <td>$materialize-form-control-container-line-transition</td>
              <td>$materialize-timer-md $materialize-function-ease $materialize-property-width</td>
            </tr>
            <tr>
              <td>$materialize-form-control-container-line-width</td>
              <td>0</td>
            </tr>
            <tr>
              <td>$materialize-form-control-container-line-z-index</td>
              <td>$materialize-zindex-level-1</td>
            </tr>
          </tbody>
        </table>

        <h4 class="terciary">.form-control</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$materialize-form-control-caret-color</td>
              <td>$materialize-color-purple</td>
            </tr>
            <tr>
              <td>$materialize-form-control-color</td>
              <td>$materialize-color-gray-darkest</td>
            </tr>
            <tr>
              <td>$materialize-form-control-font-family</td>
              <td>$materialize-font-family-primary</td>
            </tr>
            <tr>
              <td>$materialize-form-control-font-size</td>
              <td>$materialize-font-size-sm</td>
            </tr>
            <tr>
              <td>$materialize-form-control-font-weight</td>
              <td>$materialize-font-weight-regular</td>
            </tr>
            <tr>
              <td>$materialize-form-control-line-height</td>
              <td>100%</td>
            </tr>
            <tr>
              <td>$materialize-form-control-letter-spacing</td>
              <td>0</td>
            </tr>
            <tr>
              <td>$materialize-form-control-padding</td>
              <td>$materialize-space-sm</td>
            </tr>
            <tr>
              <td>$materialize-form-control-placeholder-color</td>
              <td>$materialize-color-gray</td>
            </tr>
            <tr>
              <td>$materialize-form-control-placeholder-font-weight</td>
              <td>$materialize-font-weight-regular</td>
            </tr>
          </tbody>
        </table>

        <h4 class="terciary">.form-control with modifications (.with-label, .active, .disabled, .focused)</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$materialize-form-control-with-label-padding-top</td>
              <td>$materialize-space-xl</td>
            </tr>
            <tr>
              <td>$materialize-form-control-active-label-font-size</td>
              <td>$materialize-font-size-xxs</td>
            </tr>
            <tr>
              <td>$materialize-form-control-active-label-top</td>
              <td>0</td>
            </tr>
            <tr>
              <td>$materialize-form-control-focused-container-line-width</td>
              <td>100%</td>
            </tr>
            <tr>
              <td>$materialize-form-control-focused-label-color</td>
              <td>$materialize-color-purple</td>
            </tr>
            <tr>
              <td>$materialize-form-control-disabled-container-border-color</td>
              <td>$materialize-color-gray</td>
            </tr>
            <tr>
              <td>$materialize-form-control-disabled-container-backgorund</td>
              <td>$materialize-color-gray-light</td>
            </tr>
            <tr>
              <td>$materialize-form-control-disabled-label-color</td>
              <td>$materialize-color-gray</td>
            </tr>
            <tr>
              <td>$materialize-form-control-disabled-color</td>
              <td>$materialize-color-gray</td>
            </tr>
          </tbody>
        </table>

        <h4 class="terciary">.form-control-label</h4>
        <table class="table-guide table-sass">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$materialize-form-control-label-background</td>
              <td>$materialize-color-gray-light</td>
            </tr>
            <tr>
              <td>$materialize-form-control-label-color</td>
              <td>$materialize-color-gray-dark</td>
            </tr>
            <tr>
              <td>$materialize-form-control-label-font-family</td>
              <td>$materialize-font-family-primary</td>
            </tr>
            <tr>
              <td>$materialize-form-control-label-font-size</td>
              <td>$materialize-font-size-sm</td>
            </tr>
            <tr>
              <td>$materialize-form-control-label-font-weight</td>
              <td>$materialize-font-weight-regular</td>
            </tr>
            <tr>
              <td>$materialize-form-control-label-letter-spacing</td>
              <td>0</td>
            </tr>
            <tr>
              <td>$materialize-form-control-label-transition-duration</td>
              <td>$materialize-timer-sm</td>
            </tr>
            <tr>
              <td>$materialize-form-control-label-transition-function</td>
              <td>$materialize-function-ease</td>
            </tr>
            <tr>
              <td>$materialize-form-control-label-transition-property</td>
              <td>$materialize-property-top $materialize-property-font-size</td>
            </tr>
            <tr>
              <td>$materialize-form-control-label-padding</td>
              <td>$materialize-space-xs $materialize-space-sm $materialize-space-xxxs</td>
            </tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <p>One example with all variants as checkbox or switch controls</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>
      
      <div class="card">
        <div class="example-container">
          <h3>Simple textarea</h3>
          <materialize-textarea></materialize-textarea>
        </div>

        <div class="example-container">
          <h3>Textarea with value</h3>
          <materialize-textarea value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."></materialize-textarea>
        </div>

        <div class="example-container">
          <h3>Textarea with 3 rows</h3>
          <materialize-textarea [rows]="3"></materialize-textarea>
        </div>

        <div class="example-container">
          <h3>Textarea with counter</h3>
          <materialize-textarea [hasCounter]="true"></materialize-textarea>
        </div>

        <div class="example-container">
          <h3>Textarea with placeholder</h3>
          <materialize-textarea placeholder="Write here"></materialize-textarea>
        </div>

        <div class="example-container">
          <h3>Textarea with float label</h3>
          <materialize-textarea floatLabel="Float Label"></materialize-textarea>
        </div>

        <div class="example-container">
          <h3>Textarea with float label and value</h3>
          <materialize-textarea floatLabel="Float Label" value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."></materialize-textarea>
        </div>

        <div class="example-container">
          <h3>Textarea with float label, value and placeholder</h3>
          <materialize-textarea floatLabel="Float Label and placeholder" placeholder="Placeholder"></materialize-textarea>
        </div>

        <div class="example-container">
          <h3>Textarea disabled</h3>
          <materialize-textarea [disabled]="true"></materialize-textarea>
        </div>

        <div class="example-container">
          <h3>Textarea disabled with value</h3>
          <materialize-textarea [disabled]="true" value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."></materialize-textarea>
        </div>

        <div class="example-container">
          <h3>Textarea disabled with value and float label</h3>
          <materialize-textarea [disabled]="true" floatLabel="Float Label" value="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."></materialize-textarea>
        </div>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <p>More components here...</p>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>
  
  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" [topSpace]="90" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Textarea</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>      
  </div>
</div>
          