<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>MODAL</h1>

      <p>
        The <b>materialize-modal</b> component is a dialog that can be open by calling the open method
        and it can be dismissed when touching outside dialog or by pressing the close button.
      </p>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeModalModule</span> in your module.
        </p>
        <p class="text-indent margin-bottom-sm">
          - Use the <span class="text-accent secondary">materialize-modal</span> tag in your template.
        </p>
        <p class="text-indent">
          - To open the modal just call the modal open() method.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-modal #myModal>
              This is a modal
            </materialize-modal>
            <materialize-button (onClick)="myModal.open()">Open modal</materialize-button>
          '></materialize-html-visualizer>
        </p>

        <h3>Result</h3>
        <p class="text-indent no-margin">
          <materialize-modal #modalExample>This is a modal</materialize-modal>
          <materialize-button (onClick)="modalExample.open()">Open modal</materialize-button>
        </p>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="api">
      <h2>API</h2>
      <p>
        Materialize Angular provides custom functions to add functionallity its components in different ways,
        the most common is using attributes in the component tag.
      </p>

      <div class="card">
        <h4 class="primary">@Input Properties</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Default</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>className</td>
              <td>string</td>
              <td></td>
              <td>
                To specify an additional CSS class, use the "className" property.
                This applies to the component's first node.
              </td>
            </tr>
            <tr>
              <td>dismissOnBackdrop</td>
              <td>boolean</td>
              <td>true</td>
              <td></td>
            </tr>
            <tr>
              <td>hasBackdrop</td>
              <td>boolean</td>
              <td>true</td>
              <td></td>
            </tr>
            <tr>
              <td>hasCloseButton</td>
              <td>boolean</td>
              <td>true</td>
              <td></td>
            </tr>
            <tr>
              <td>isOpen</td>
              <td>boolean</td>
              <td>false</td>
              <td></td>
            </tr>
            <tr>
              <td>transitionDuration</td>
              <td>number</td>
              <td>400</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card">
        <h4 class="secondary">@Output Events</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Signature</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>onOpen</td>
              <td>onOpenEmitter(): EventEmitter&lt;void&gt;</td>
              <td>"none"</td>
            </tr>
            <tr>
              <td>onClose</td>
              <td>onCloseEmitter(): EventEmitter&lt;string&gt;</td>
              <td>"none"</td>
            </tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>
      <p>
        Materialize Angular supports a lot of SASS variables to change all the component
        style so that feel to modify component look and feel by changing the following SASS variables.<br><br>

        The Materialize Angular SASS variable names are created base on the following pattern:<br><br>
        <span class="text-accent terciary">"tagClassName" + (optional "-" + "modifierTagClassName" ) + "-" + "cssProperty"</span>
      </p>
      <div class="card">
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$materialize-modal-align-items</td>
              <td>center</td>
            </tr>
            <tr>
              <td>$materialize-modal-justify-content</td>
              <td>center</td>
            </tr>
          </tbody>
        </table>

        <h4 class="terciary">.materialize-modal-content</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$materialize-modal-content-background</td>
              <td>map-get($theme-colors, 'white')</td>
            </tr>
            <tr>
              <td>$materialize-modal-content-border-radius</td>
              <td>$theme-radius-sm</td>
            </tr>
            <tr>
              <td>$materialize-modal-content-box-shadow</td>
              <td>$theme-shadow-lg</td>
            </tr>
            <tr>
              <td>$materialize-modal-content-max-height</td>
              <td>calc(100% - $theme-space-xxxl)</td>
            </tr>
            <tr>
              <td>$materialize-modal-content-max-width</td>
              <td>calc(100% - $theme-space-xxxl)</td>
            </tr>
            <tr>
              <td>$materialize-modal-content-padding</td>
              <td>$theme-space-xl</td>
            </tr>
            <tr>
              <td>$materialize-modal-content-transform</td>
              <td>scale(0.8)</td>
            </tr>
            <tr>
              <td>$materialize-modal-content-transition-property</td>
              <td>opacity, transform</td>
            </tr>
            <tr>
              <td>$materialize-modal-content-transition-function</td>
              <td>cubic-bezier(0.17, 0.84, 0.44, 1) forwards</td>
            </tr>
          </tbody>
        </table>

        <h4 class="terciary">.materialize-modal-backdrop</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$materialize-modal-backdrop-background</td>
              <td>rgba(map-get($theme-colors, 'black'), 0.4)</td>
            </tr>
            <tr>
              <td>$materialize-modal-backdrop-transition-property</td>
              <td>opacity</td>
            </tr>
            <tr>
              <td>$materialize-modal-backdrop-transition-function</td>
              <td>cubic-bezier(0.25, 0.8, 0.25, 1)</td>
            </tr>
          </tbody>
        </table>

        <h4 class="terciary">.materialize-modal-icon-close</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$materialize-modal-icon-close-color</td>
              <td>map-get($theme-colors, 'gray-20')</td>
            </tr>
            <tr>
              <td>$materialize-modal-icon-close-size</td>
              <td>12px</td>
            </tr>
            <tr>
              <td>$materialize-modal-icon-close-right</td>
              <td>$theme-space-xs</td>
            </tr>
            <tr>
              <td>$materialize-modal-icon-close-top</td>
              <td>$theme-space-xs</td>
            </tr>
          </tbody>
        </table>

        <h4 class="terciary">.materialize- modal with modifications (.active)</h4>
        <table class="table-guide table-sass">
            <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$materialize-modal-active-content-transform</td>
              <td>scale(1)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <div class="card">
        <p class="no-margin">Out team is working hardly to give you the highest experience on our web components playground</p>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>

      <div class="card">
        <div class="example-container">
          <h3>Simple modal</h3>
          <materialize-modal #modalExample1>This is a modal</materialize-modal>
          <materialize-button (onClick)="modalExample1.open()">Open modal</materialize-button>
        </div>

        <div class="example-container">
          <h3>Modal without close button</h3>
          <materialize-modal #modalExample2 [hasCloseButton]="false">This is a modal</materialize-modal>
          <materialize-button (onClick)="modalExample2.open()">Open modal</materialize-button>
        </div>

        <div class="example-container">
          <h3>Modal not close on backdrop</h3>
          <materialize-modal #modalExample3 [dismissOnBackdrop]="false">This is a modal</materialize-modal>
          <materialize-button (onClick)="modalExample3.open()">Open modal</materialize-button>
        </div>

        <div class="example-container">
          <h3>Modal without backdrop</h3>
          <materialize-modal #modalExample4 [hasBackdrop]="false">This is a modal</materialize-modal>
          <materialize-button (onClick)="modalExample4.open()">Open modal</materialize-button>
        </div>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <div class="up-next-container">
        <div class="up-next-item">
          <div class="card" routerLink="/guide/components/accordion" materializeRipple>
            <p>Accordion</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/components/collapsible" materializeRipple>
            <p>Collapsible</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/components/ripple" materializeRipple>
            <p>Ripple</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
      </div>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>

  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" [topSpace]="90" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Modal</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>
  </div>
</div>
