<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>RADIO</h1>

      <p>
        The <b>materialize-radio</b> component is a way to select elements from a list.
      </p>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeRadioGroupModule</span> in your module.
        </p>
        <p class="text-indent margin-bottom-sm">
          - Use the <span class="text-accent secondary">materialize-radio-group</span> tag in your template.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materialize-radio</span> tag into your <span class="text-accent secondary">materialize-radio-group</span>.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-radio-group>
              <materialize-radio value="A">Radio A</materialize-radio>
              <materialize-radio value="B">Radio B</materialize-radio>
            </materialize-radio-group>
          '></materialize-html-visualizer>
        </p>

        <h3>Result</h3>
        <p class="text-indent no-margin">
          <materialize-radio-group>
            <materialize-radio value="A">Radio A</materialize-radio>
            <materialize-radio value="B">Radio B</materialize-radio>
          </materialize-radio-group>
        </p>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="api">
      <h2>API</h2>
      <p>
        Materialize Angular provides custom functions to add functionallity its components in different ways,
        the most common is using attributes in the component tag.
      </p>

      <div class="card">
        <h4 class="primary">@Input Properties: Radio Group</h4>
        <table class="table-guide margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Default</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>canUncheck</td>
              <td>boolean</td>
              <td>false</td>
              <td></td>
            </tr>
            <tr>
              <td>className</td>
              <td>string</td>
              <td></td>
              <td>
                To specify an additional CSS class, use the "className" property.
                This applies to the component's first node.
              </td>
            </tr>
            <tr>
              <td>disabled</td>
              <td>boolean</td>
              <td>false</td>
              <td>
                If true, all radio buttons should be displayed in a disable state.
              </td>
            </tr>
            <tr>
              <td>name</td>
              <td>string</td>
              <td>" "</td>
              <td></td>
            </tr>
            <tr>
              <td>required</td>
              <td>boolean</td>
              <td>false</td>
              <td></td>
            </tr>
            <tr>
              <td>value</td>
              <td>string</td>
              <td>" "</td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <h4 class="primary">@Input Properties: Button Toggle</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Default</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>className</td>
              <td>string</td>
              <td></td>
              <td>
                To specify an additional CSS class, use the "className" property.
                This applies to the component's first node.
              </td>
            </tr>
            <tr>
              <td>disabled</td>
              <td>boolean</td>
              <td>false</td>
              <td>
                If true, the label and radio element should be displayed in a disabled state.
              </td>
            </tr>
            <tr>
              <td>id</td>
              <td>string | null</td>
              <td>null</td>
              <td></td>
            </tr>
            <tr>
              <td>name</td>
              <td>string</td>
              <td>" "</td>
              <td></td>
            </tr>
            <tr>
              <td>required</td>
              <td>boolean</td>
              <td>false</td>
              <td></td>
            </tr>
            <tr>
              <td>value</td>
              <td>string</td>
              <td>" "</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card">
        <h4 class="secondary">@Output Events: Radio Group</h4>
        <table class="table-guide margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Signature</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>onChange</td>
              <td>@Output() onChangeEmitter: EventEmitter&lt;string&gt;</td>
              <td>"none"</td>
            </tr>
          </tbody>
        </table>

        <h4 class="secondary">@Output Events: Radio</h4>
        <table class="table-guide ">
          <thead>
            <tr>
              <td>Name</td>
              <td>Signature</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>onClick</td>
              <td>@Output() onClickEmitter: EventEmitter&lt;string&gt;</td>
              <td>"none"</td>
            </tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>

      <p>
        Materialize Angular supports a lot of SASS variables to change all the component
        style so that feel to modify component look and feel by changing the following SASS variables.<br><br>

        The Materialize Angular SASS variable names are created base on the following pattern:<br><br>
        <span class="text-accent terciary">"tagClassName" + (optional "-" + "modifierTagClassName" ) + "-" + "cssProperty"</span>
      </p>

      <div class="card">
        <h4 class="terciary">.radio</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-radio-cursor</td><td>pointer</td></tr>
            <tr><td>$materialize-radio-outline</td><td>unset</td></tr>
            <tr><td>$materialize-radio-padding</td><td>$theme-space-xxxs 0</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.radio-label</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-radio-label-color</td><td>map-get($theme-colors, 'gray-20')</td></tr>
            <tr><td>$materialize-radio-label-font-family</td><td>$theme-font-family-primary</td></tr>
            <tr><td>$materialize-radio-label-font-size</td><td>$theme-font-size-md</td></tr>
            <tr><td>$materialize-radio-label-font-weight</td><td>$theme-font-weight-regular</td></tr>
            <tr><td>$materialize-radio-label-padding</td><td>0</td></tr>
            <tr><td>$materialize-radio-label-text-align</td><td>right</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.radio-indicator</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-radio-indicator-border</td><td>$theme-border-md solid map-get($theme-colors, 'gray-40')</td></tr>
            <tr><td>$materialize-radio-indicator-border-radius</td><td>$theme-radius-full</td></tr>
            <tr><td>$materialize-radio-indicator-display</td><td>inline-block</td></tr>
            <tr><td>$materialize-radio-indicator-margin</td><td>0 $theme-space-sm</td></tr>
            <tr><td>$materialize-radio-indicator-outline</td><td>none</td></tr>
            <tr><td>$materialize-radio-indicator-padding</td><td>0 $theme-space-sm</td></tr>
            <tr><td>$materialize-radio-indicator-position</td><td>relative</td></tr>
            <tr><td>$materialize-radio-indicator-tap-highlight-color</td><td>transparent</td></tr>
            <tr><td>$materialize-radio-indicator-size</td><td>20px</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.radio-indicator with modifications (.active, .disabled)</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-radio-indicator-active-border-color</td><td>map-get($theme-colors, 'primary')</td></tr>
            <tr><td>$materialize-radio-indicator-active-background</td><td>map-get($theme-colors, 'primary')</td></tr>
            <tr><td>$materialize-radio-indicator-active-size</td><td>10px</td></tr>
            <tr><td>$materialize-radio-indicator-disabled-color</td><td>map-get($theme-colors, 'gray-60')</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.radio-indicator-ripple</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-radio-indicator-ripple-background</td><td>map-get($theme-colors, 'primary')</td></tr>
            <tr><td>$materialize-radio-indicator-ripple-size</td><td>40px</td></tr>
            <tr><td>$materialize-radio-indicator-ripple-transition</td><td>$theme-property-background $theme-timer-sm $theme-transition-function-ease</td></tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <div class="card">
        <p class="no-margin">Out team is working hardly to give you the highest experience on our web components playground</p>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>

      <div class="card">
        <h3>Simple radio</h3>
        <materialize-radio>Radio</materialize-radio>

        <h3>Radio with value</h3>
        <materialize-radio value="2">With Value</materialize-radio>

        <h3>Radio disabled</h3>
        <materialize-radio [disabled]="true">Disabled</materialize-radio>

        <h3>Simple radio group</h3>
        <materialize-radio-group>
          <materialize-radio value="a">Value A</materialize-radio>
          <materialize-radio value="b">Value B</materialize-radio>
        </materialize-radio-group>

        <h3>Radio group with value</h3>
        <materialize-radio-group value="b">
          <materialize-radio value="a">Value A</materialize-radio>
          <materialize-radio value="b">Value B</materialize-radio>
        </materialize-radio-group>

        <h3>Radio group can be unchecked</h3>
        <materialize-radio-group [canUncheck]="true">
          <materialize-radio value="a">Value A</materialize-radio>
          <materialize-radio value="b">Value B</materialize-radio>
        </materialize-radio-group>

        <h3>Radio group disabled</h3>
        <materialize-radio-group [disabled]="true">
          <materialize-radio value="a">Value A</materialize-radio>
          <materialize-radio value="b">Value B</materialize-radio>
        </materialize-radio-group>

        <h3>Radio group disabled with value</h3>
        <materialize-radio-group [disabled]="true" value="b">
          <materialize-radio value="a">Value A</materialize-radio>
          <materialize-radio value="b">Value B</materialize-radio>
        </materialize-radio-group>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <div class="up-next-container">
        <div class="up-next-item">
          <div class="card" routerLink="/guide/forms/checkbox" materializeRipple>
            <p>Checkbox</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/forms/select" materializeRipple>
            <p>Select</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/forms/switch" materializeRipple>
            <p>Switch</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
      </div>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>

  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" [topSpace]="90" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Radio</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>
  </div>
</div>
