<h1>Getting started</h1>

<h2>Why Materialize Angular?</h2>
<div class="card">
  <p class="no-margin">Materialize Angular is a library to help you easily doing beautiful websites. The goal of the project is to help
  the user in the creation of websites based on Angular and using the Material Design specification. Also, we are
  trying to do awesome and best quality components for different website types.<br><br>
  It's a very early version but it is ready for production environments. We're working on LTS versions and try to do
  the library compatible with different Angular versions.</p>
</div>

<h2>Quickstart</h2>
<div class="card">
  <h4>Step 1: Install npm package:</h4>
  <div class="highlight highlight-source-shell">
    <pre> npm install --save materialize-angular</pre>
  </div>
</div>

<div class="card">
  <h4>Step 2: Add styles</h4>
  <p>
    Import materialize angular styles by writing the following lines in your <code>styles.scss</code>file (it is
    located in <code>my-project/src/styles.scss</code>)
  </p>

  <div class="highlight highlight-source-sass">
    <pre>
  $<span class="pl-smi">materialize-fonts-path</span>: <span class="pl-s"><span class="pl-pds">'</span>~materialize-angular/fonts<span class="pl-pds">'</span></span><span class="pl-ii">;</span>

  <span class="pl-k">@import</span><span class="pl-v"> </span>'<span class="pl-v">~materialize-angular/styles/materialize-angular.scss</span>'<span class="pl-ii">;</span></pre>
  </div>
</div>

<div class="card">
  <h4>Step 3: Import component modules in your app module:</h4>
  <p>Import just specific components by importing each one like <code>MaterializeButtonModule</code>,
  <code>MaterializeCardModule</code>, etc.</p>

  <div class="highlight highlight-source-ts">
    <pre>
  <span class="pl-k">import</span> {{ '{' }} <span class="pl-smi">Component</span>, <span class="pl-smi">NgModule</span> } <span class="pl-k">from</span> <span class="pl-s"><span class="pl-pds">'</span>@angular/core<span class="pl-pds">'</span></span>;
  <span class="pl-k">import</span> {{ '{' }} <span class="pl-smi">MaterializeButtonModule</span>, <span class="pl-smi">MaterializeCardModule</span> } <span class="pl-k">from</span> <span class="pl-s"><span class="pl-pds">'</span>materialize-angular<span class="pl-pds">'</span></span>;

  @<span class="pl-en">NgModule</span>({{ '{' }}
    imports: [
      <span class="pl-smi">MaterializeButtonModule</span>,
      <span class="pl-smi">MaterializeCardModule</span>
    ]
  })
  <span class="pl-k">export</span> <span class="pl-k">class</span> <span class="pl-en">MyModule</span> {{ '{' }}}</pre>
  </div>
</div>


<div class="card">
  <h4>Step 4: Use imported components:</h4>
  <p>Finally use the imported components into your apps components:</p>
  <div class="highlight highlight-source-ts">
    <pre>
  <span class="pl-k">import</span> {{ '{' }} <span class="pl-smi">Component</span> } <span class="pl-k">from</span> <span class="pl-s"><span class="pl-pds">'</span>@angular/core<span class="pl-pds">'</span></span>;

  @<span class="pl-en">Component</span>({{ '{' }}
    selector: <span class="pl-s"><span class="pl-pds">'</span>app-demo<span class="pl-pds">'</span></span>,
    template: <span class="pl-s"><span class="pl-pds">`</span></span>
  <span class="pl-s">    &lt;materialize-card&gt;</span>
  <span class="pl-s">      &lt;materialize-button&gt;Hello From Materialize Angular!&lt;/materialize-button&gt;</span>
  <span class="pl-s">    &lt;/materialize-card&gt;</span>
  <span class="pl-s">  <span class="pl-pds">`</span></span>
  })
  <span class="pl-k">export</span> <span class="pl-k">class</span> <span class="pl-en">MyDemoComponent</span> {{ '{' }}}</pre>
  </div>
</div>
