<materialize-navbar className="navbar-guide">
  <materialize-icon className="navbar-icon-menu" (onClick)="drawer.open()">menu</materialize-icon>
  <div class="navbar-logo-container">
    <img src="assets/images/logo-white.svg" />
    <p>Materialize Angular</p>
  </div>

  <div class="navbar-patron">
    <a href="https://www.patreon.com/bePatron?u=22442824" data-patreon-widget-type="become-patron-button">
      <materialize-button level="outline">Become a Patron!</materialize-button>
    </a>
    <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
  </div>
</materialize-navbar>

<materialize-drawer type="over" className="collapsible-guide" #drawer>
  <materialize-drawer-content>
    <ng-container *ngFor="let item of drawerItems">
      <div *ngIf="!item.children" class="drawer-link" [routerLink]="item.link" routerLinkActive="active" materializeRipple (click)="drawer.close()">
        {{ item.text }}
      </div>

      <materialize-collapsible *ngIf="item.children" className="collapsible-guide" [isOpen]="isActive(item.link)">
        <materialize-collapsible-title>{{ item.text }}</materialize-collapsible-title>
  
        <materialize-collapsible-content>
          <div class="drawer-link" [routerLink]="item.link + child.link" routerLinkActive="active" *ngFor="let child of item.children" materializeRipple (click)="drawer.close()">
            {{ child.text }}
          </div>
        </materialize-collapsible-content>
  
      </materialize-collapsible>
    </ng-container>
  </materialize-drawer-content>

  <materialize-drawer-container>
    <div class="header-spacer"></div>
    <router-outlet></router-outlet>
  </materialize-drawer-container>
</materialize-drawer>

  