<materialize-drawer type="static">
  <materialize-drawer-content>
    <div class="logo-container">
      <img src="assets/images/logo.svg" />
    </div>

    <ng-container *ngFor="let item of drawerItems">
      <div *ngIf="!item.children" class="drawer-item" [routerLink]="item.link" materializeRipple>
        {{ item.text }}
      </div>

      <materialize-collapsible *ngIf="item.children">
        <materialize-collapsible-title>{{ item.text }}</materialize-collapsible-title>
  
        <materialize-collapsible-content>
          <materialize-list>
            <materialize-list-item [link]="item.link + child.link" *ngFor="let child of item.children">
              {{ child.text }}
            </materialize-list-item>
          </materialize-list>
        </materialize-collapsible-content>
  
      </materialize-collapsible>
    </ng-container>
  </materialize-drawer-content>

  <materialize-drawer-container>
    <materialize-navbar></materialize-navbar>

    <router-outlet></router-outlet>
    <materialize-footer></materialize-footer>
  </materialize-drawer-container>
</materialize-drawer>

