<materialize-navbar>
  <div class="navbar-logo-container">
    <img src="assets/images/logo.svg" />
    <p>Materialize Angular</p>
  </div>
</materialize-navbar>

<materialize-drawer type="static">
  <materialize-drawer-content>
    <ng-container *ngFor="let item of drawerItems">
      <div *ngIf="!item.children" class="drawer-link" [routerLink]="item.link" materializeRipple>
        {{ item.text }}
      </div>

      <materialize-collapsible *ngIf="item.children">
        <materialize-collapsible-title>{{ item.text }}</materialize-collapsible-title>
  
        <materialize-collapsible-content>
          <div class="drawer-link" [routerLink]="item.link + child.link" *ngFor="let child of item.children">
            {{ child.text }}
          </div>
        </materialize-collapsible-content>
  
      </materialize-collapsible>
    </ng-container>
  </materialize-drawer-content>

  <materialize-drawer-container>
    <router-outlet></router-outlet>
  </materialize-drawer-container>
</materialize-drawer>

