::ng-deep {
  body {
    background: #FFFFFF;
  }

  h1 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 16px;
  }

  h4 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;

    &.primary {
      color: #00C996;
    }

    &.secondary {
      color: #D6006C;
    }

    &.terciary {
      color: #FFC500;
    }
  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 32px;
  }

  .margin-bottom-lg {
    margin-bottom: 24px;
  }

  .margin-bottom-md {
    margin-bottom: 16px;
  }
    
  .margin-bottom-sm {
    margin-bottom: 6px;
  }

  .no-margin {
    margin: 0;
  }

  .text-indent {
    padding-left: 20px;

    @media only screen and (max-width: 768px) {
      padding-left: 0;
    }
  }

  .text-accent {
    background: #008FFF;
    border-radius: 4px;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 6px;

    &.secondary {
      background: #5707EB;
    }

    &.terciary {
      background: rgb(255, 230, 0);
      color: #000000;
      display: block;
      margin: 0 auto;
      padding: 6px 12px;
      max-width: fit-content;
      border-radius: 4px;
    }
  }

  .example-container {
    padding: 12px 0;

    h3 {
      font-weight: 300;
      margin-bottom: 8px;
    }
  }

  .up-next-container {
    align-items: center;
    display: flex;
    flex-direction: row;

    .up-next-item {
      display: flex;
      flex: 1;
      padding: 0 12px;

      .card {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: hidden;
        position: relative;

        &::before {
          background: #008FFF;
          content: '';
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 3px;
        }

        p {
          font-size: 20px;
          flex: 1;
          margin: 0 12px;
        }

        .materialize-icon {
          align-items: center;
          display: flex;
          flex-direction: row;
          font-size: 28px;
          justify-content: center;
        }
      }
    }
  }
}
