<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>ICON</h1>
  
      <p>
        The <b>materialize-icon</b> component provides context to your application with the different <i>images</i> that you can use. Here is the official <a href="https://materialdesignicons.com/">Material Design Icons site</a>.
      </p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">  
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeIconModule</span> in your module.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materialize-icon</span> tag in your template.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-icon>favorite</materialize-icon>
          '></materialize-html-visualizer>        
        </p>

        <h3>Result</h3>
        <p class="text-indent no-margin">
          <materialize-icon>favorite</materialize-icon>
        </p>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="api">    
      <h2>API</h2>
  
      <table>
        <tr>
          <td>Prop</td>
          <td>Type</td>
          <td>Default</td>
        </tr>
        <tr>
          <td>className</td>
          <td>string</td>
          <td>''</td>
        </tr>
      </table>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>
      <p>CSS variables here...</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <p>One example with all variants as checkbox or switch controls</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>

      <div class="card">
        <h3>Icon Done</h3>
        <materialize-icon>done</materialize-icon>

        <h3>Icon Accessibility</h3>
        <materialize-icon>accessibility</materialize-icon>

        <h3>Icon Chat</h3>
        <materialize-icon>chat</materialize-icon>

        <h3>Icon Laptop Mac</h3>
        <materialize-icon>laptop_mac</materialize-icon>

        <h3>Icon Phone Android</h3>
        <materialize-icon>phone_android</materialize-icon>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <p>More components here...</p>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>
  
  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" [topSpace]="90" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Card</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>      
  </div>
</div>
  