<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>CARD</h1>
  
      <p>
        The <b>materialize-card</b> component can be used for panel and/or static image.
      </p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">  
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeCardModule</span> in your module.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materialize-card</span> tag in your template.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-card>This is my card</materialize-card>
          '></materialize-html-visualizer>        
        </p>

        <h3>Result</h3>
        <p class="text-indent no-margin">
          <materialize-card>This is my card</materialize-card>
        </p>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="api">    
      <h2>API</h2>
  
      <table>
        <tr>
          <td>Prop</td>
          <td>Type</td>
          <td>Default</td>
        </tr>
        <tr>
          <td>className</td>
          <td>string</td>
          <td>''</td>
        </tr>
      </table>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>
      <p>CSS variables here...</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <p>One example with all variants as checkbox or switch controls</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>

      <div class="card">
        <h3>Simple card</h3>
        <materialize-card>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt earum odit quod, dignissimos quidem soluta, porro saepe hic cum deserunt officia? Rerum, facere. Necessitatibus est commodi tempora in esse?
        </materialize-card>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <p>More components here...</p>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>
  
  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Card</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>      
  </div>
</div>
