<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>BUTTON</h1>

      <p>
        The <b>materialize-button</b> replaces the standard html button. It's based in material design theme and a has multitude of options.
      </p>
      <p>
        Can use different colors for text color and/or background being very modificable and flexible.
      </p>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeButtonModule</span> in your module.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materialize-button</span> tag in your template.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-button>This is a button</materialize-button>
          '></materialize-html-visualizer>
        </p>

        <h3>Result</h3>
        <p class="text-indent no-margin">
          <materialize-button>This is a button</materialize-button>
        </p>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="api">
      <h2>API</h2>
      <p>
        Materialize Angular provides custom functions to add functionallity its components in different ways,
        the most common is using attributes in the component tag.
      </p>

      <div class="card">
        <h4 class="primary">@Input Properties</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Default</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>className</td>
              <td>string</td>
              <td>" "</td>
              <td></td>
            </tr>
            <tr>
              <td>disabled</td>
              <td>boolean</td>
              <td>false</td>
              <td></td>
            </tr>
            <tr>
              <td>level</td>
              <td>text | accent | outline</td>
              <td>"accent"</td>
              <td></td>
            </tr>
            <tr>
              <td>rippleDuration</td>
              <td>number</td>
              <td>250</td>
              <td></td>
            </tr>
            <tr>
              <td>type</td>
              <td>button | submit</td>
              <td>"button"</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card">
        <h4 class="secondary">@Output Events</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Signature</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>onClick</td>
              <td>onClickEmitter(): EventEmitter&lt;void&gt;</td>
              <td>"none"</td>
            </tr>
            <tr>
              <td>onBlur</td>
              <td>onBlurEmitter(): EventEmitter&lt;void&gt;</td>
              <td>"none"</td>
            </tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>

      <p>
        Materialize Angular supports a lot of SASS variables to change all the component
        style so that feel to modify component look and feel by changing the following SASS variables.<br><br>

        The Materialize Angular SASS variable names are created base on the following pattern:<br><br>
        <span class="text-accent terciary">"tagClassName" + (optional "-" + "modifierTagClassName" ) + "-" + "cssProperty"</span>
      </p>

      <div class="card">
        <h4 class="terciary">.button-accent</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-button-accent-background</td><td>map-get($theme-colors, 'primary')</td><tr>
            <tr><td>$materialize-button-accent-border</td><td>0</td><tr>
            <tr><td>$materialize-button-accent-border-radius</td><td>$theme-radius-sm</td><tr>
            <tr><td>$materialize-button-accent-box-shadow</td><td>$theme-shadow-sm</td><tr>
            <tr><td>$materialize-button-accent-color</td><td>map-get($theme-colors, 'white')</td><tr>
            <tr><td>$materialize-button-accent-cursor</td><td>pointer</td><tr>
            <tr><td>$materialize-button-accent-display</td><td>block</td><tr>
            <tr><td>$materialize-button-accent-font-family</td><td>$theme-font-family-primary</td><tr>
            <tr><td>$materialize-button-accent-font-size</td><td>$theme-font-size-md</td><tr>
            <tr><td>$materialize-button-accent-font-weight</td><td>$theme-font-weight-regular</td><tr>
            <tr><td>$materialize-button-accent-height</td><td>auto</td><tr>
            <tr><td>$materialize-button-accent-margin</td><td>$theme-space-sm auto</td><tr>
            <tr><td>$materialize-button-accent-outline</td><td>none</td><tr>
            <tr><td>$materialize-button-accent-padding</td><td>$theme-space-sm $theme-space-md</td><tr>
            <tr><td>$materialize-button-accent-tap-highlight-color</td><td>transparent</td><tr>
            <tr><td>$materialize-button-accent-text-align</td><td>center</td><tr>
            <tr><td>$materialize-button-accent-text-transform</td><td>uppercase</td><tr>
            <tr><td>$materialize-button-accent-transition</td><td>$theme-property-background $theme-timer-md $theme-transition-function-ease</td><tr>
            <tr><td>$materialize-button-accent-white-space</td><td>nowrap</td><tr>
            <tr><td>$materialize-button-accent-width</td><td>auto</td><tr>

            <tr><td>$materialize-button-accent-hover-background</td><td>lighten(map-get($theme-colors, 'primary'), 5%)</td><tr>
            <tr><td>$materialize-button-accent-focused-background</td><td>lighten(map-get($theme-colors, 'primary'), 10%)</td><tr>

            <tr><td>$materialize-button-accent-disabled-background</td><td>map-get($theme-colors, 'gray-60')</td><tr>
            <tr><td>$materialize-button-accent-disabled-box-shadow</td><td>none</td><tr>
            <tr><td>$materialize-button-accent-disabled-color</td><td>map-get($theme-colors, 'gray-40')</td><tr>

            <tr><td>$materialize-button-accent-ripple-background</td><td>rgba(lighten(map-get($theme-colors, 'primary'), 50%), 0.2)</td><tr>
          </tbody>
        </table>

        <h4 class="terciary">.button-info</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-button-outline-background</td><td>transparent</td><tr>
            <tr><td>$materialize-button-outline-border</td><td>$theme-border-sm solid map-get($theme-colors, 'gray-60')</td><tr>
            <tr><td>$materialize-button-outline-border-radius</td><td>$theme-radius-sm</td><tr>
            <tr><td>$materialize-button-outline-color</td><td>map-get($theme-colors, 'primary')</td><tr>
            <tr><td>$materialize-button-outline-cursor</td><td>pointer</td><tr>
            <tr><td>$materialize-button-outline-display</td><td>block</td><tr>
            <tr><td>$materialize-button-outline-font-family</td><td>$theme-font-family-primary</td><tr>
            <tr><td>$materialize-button-outline-font-size</td><td>$theme-font-size-md</td><tr>
            <tr><td>$materialize-button-outline-font-weight</td><td>$theme-font-weight-regular</td><tr>
            <tr><td>$materialize-button-outline-height</td><td>auto</td><tr>
            <tr><td>$materialize-button-outline-margin</td><td>$theme-space-sm auto</td><tr>
            <tr><td>$materialize-button-outline-outline</td><td>none</td><tr>
            <tr><td>$materialize-button-outline-padding</td><td>$theme-space-sm $theme-space-md</td><tr>
            <tr><td>$materialize-button-outline-tap-highlight-color</td><td>transparent</td><tr>
            <tr><td>$materialize-button-outline-text-align</td><td>center</td><tr>
            <tr><td>$materialize-button-outline-text-transform</td><td>uppercase</td><tr>
            <tr><td>$materialize-button-outline-transition</td><td>$theme-property-background $theme-timer-md $theme-transition-function-ease</td><tr>
            <tr><td>$materialize-button-outline-white-space</td><td>nowrap</td><tr>
            <tr><td>$materialize-button-outline-width</td><td>auto</td><tr>

            <tr><td>$materialize-button-outline-hover-background</td><td>rgba(map-get($theme-colors, 'primary'), 0.05)</td><tr>
            <tr><td>$materialize-button-outline-focused-background</td><td>rgba(map-get($theme-colors, 'primary'), 0.1)</td><tr>

            <tr><td>$materialize-button-outline-disabled-background</td><td>transparent</td><tr>
            <tr><td>$materialize-button-outline-disabled-border</td><td>$theme-border-sm solid map-get($theme-colors, 'gray-60')</td><tr>
            <tr><td>$materialize-button-outline-disabled-color</td><td>map-get($theme-colors, 'gray-60')</td><tr>

            <tr><td>$materialize-button-outline-ripple-background</td><td>rgba(map-get($theme-colors, 'primary'), 0.2)</td><tr>
          </tbody>
        </table>

        <h4 class="terciary">.button-text</h4>
        <table class="table-guide table-sass">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-button-text-background</td><td>transparent</td><tr>
            <tr><td>$materialize-button-text-border</td><td>0</td><tr>
            <tr><td>$materialize-button-text-border-radius</td><td>$theme-radius-sm</td><tr>
            <tr><td>$materialize-button-text-color</td><td>map-get($theme-colors, 'primary')</td><tr>
            <tr><td>$materialize-button-text-cursor</td><td>pointer</td><tr>
            <tr><td>$materialize-button-text-display</td><td>block</td><tr>
            <tr><td>$materialize-button-text-font-family</td><td>$theme-font-family-primary</td><tr>
            <tr><td>$materialize-button-text-font-size</td><td>$theme-font-size-md</td><tr>
            <tr><td>$materialize-button-text-font-weight</td><td>$theme-font-weight-regular</td><tr>
            <tr><td>$materialize-button-text-height</td><td>auto</td><tr>
            <tr><td>$materialize-button-text-margin</td><td>$theme-space-sm auto</td><tr>
            <tr><td>$materialize-button-text-outline</td><td>none</td><tr>
            <tr><td>$materialize-button-text-padding</td><td>$theme-space-sm $theme-space-md</td><tr>
            <tr><td>$materialize-button-text-tap-highlight-color</td><td>transparent</td><tr>
            <tr><td>$materialize-button-text-text-align</td><td>center</td><tr>
            <tr><td>$materialize-button-text-text-transform</td><td>uppercase</td><tr>
            <tr><td>$materialize-button-text-transition</td><td>$theme-property-background $theme-timer-md $theme-transition-function-ease</td><tr>
            <tr><td>$materialize-button-text-white-space</td><td>nowrap</td><tr>
            <tr><td>$materialize-button-text-width</td><td>auto</td><tr>

            <tr><td>$materialize-button-text-hover-background</td><td>rgba(map-get($theme-colors, 'primary'), 0.05)</td><tr>
            <tr><td>$materialize-button-text-focused-background</td><td>rgba(map-get($theme-colors, 'primary'), 0.1)</td><tr>

            <tr><td>$materialize-button-text-disabled-background</td><td>transparent</td><tr>
            <tr><td>$materialize-button-text-disabled-color</td><td>map-get($theme-colors, 'gray-60')</td><tr>

            <tr><td>$materialize-button-text-ripple-background</td><td>rgba(map-get($theme-colors, 'primary'), 0.2)</td><tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <div class="card">
        <p class="no-margin">Out team is working hardly to give you the highest experience on our web components playground</p>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>

      <div class="card">
        <h3>Button Accent</h3>
        <materialize-button>Button</materialize-button>
        <materialize-button [disabled]="true">Disabled</materialize-button>

        <h3>Button Outline</h3>
        <materialize-button level="outline">Button</materialize-button>
        <materialize-button level="outline" [disabled]="true">Disabled</materialize-button>

        <h3>Button Text</h3>
        <materialize-button level="text">Button</materialize-button>
        <materialize-button level="text" [disabled]="true">Disabled</materialize-button>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <div class="up-next-container">
        <div class="up-next-item">
          <div class="card" routerLink="/guide/components/icon" materializeRipple>
            <p>Icon</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/forms/button-toggle" materializeRipple>
            <p>Button Toggle</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/forms/switch" materializeRipple>
            <p>Switch</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
      </div>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>

  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" [topSpace]="90" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Button</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>
  </div>
</div>
