<div class="row">
  <div class="col col-lg-4">
    <h5 class="h5">Help Materialize Grow</h5>
    <p class="grey-text">We hope you have enjoyed using Materialize and if you feel like it has helped you out and want to support the team you can help us by donating or backing us on Patreon. Any amount would help support and continue development on this project and is greatly appreciated.</p>
    <a class="btn" href="#">Support Us</a>
  </div>
  <div class="col col-lg-4">
    <h5 class="h5">Join the Discussion</h5>
    <p class="grey-text">We have a Gitter chat room set up where you can talk directly with us. Come in and discuss new features, future goals, general problems or questions, or anything else you can think of.</p>
    <a class="btn" href="#">Chat</a>
  </div>
  <div class="col col-lg-4">
    <h5 class="h5">Connect</h5>
    
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h5 class="h5">Patreon Sponsors</h5>
  </div>
  <div class="col col-lg-3">
    <img src="https://i.postimg.cc/fbGCbZs5/Logo-1200x630.png" />
  </div>
  <div class="col col-lg-3">
    <img src="https://i.postimg.cc/fbGCbZs5/Logo-1200x630.png" />
  </div>
  <div class="col col-lg-3">
    <img src="https://i.postimg.cc/fbGCbZs5/Logo-1200x630.png" />
  </div>
  <div class="col col-lg-3">
    <img src="https://i.postimg.cc/fbGCbZs5/Logo-1200x630.png" />
  </div>
  <div class="col col-lg-3">
    <img src="https://i.postimg.cc/fbGCbZs5/Logo-1200x630.png" />
  </div>
  <div class="col col-lg-3">
    <img src="https://i.postimg.cc/fbGCbZs5/Logo-1200x630.png" />
  </div>
  <div class="col col-lg-3">
    <img src="https://i.postimg.cc/fbGCbZs5/Logo-1200x630.png" />
  </div>
  <div class="col col-lg-3">
    <img src="https://i.postimg.cc/fbGCbZs5/Logo-1200x630.png" />
  </div>
</div>
<div class="footer-copyright">
  &copy;<script type="text/javascript">document.write(new Date().getFullYear());</script>2019 Materialize, All rights reserved.
  <a class="grey-text text-darken-1 right" href="https://github.com/workylab/materialize-angular/blob/master/LICENSE">MIT License</a>
</div>