<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>SLIDER</h1>
  
      <p>
        The <b>materialize-slider</b> component is an easy way to see better the number input.
      </p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">  
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeSliderModule</span> in your module.
        </p>
        <p class="text-indent margin-bottom-sm">
          - Use the <span class="text-accent secondary">materialize-slider</span> tag in your template.
        </p>
        <p class="text-indent margin-bottom-sm">
          - Use the <span class="text-accent secondary">materialize-slider-option</span> tag into your <span class="text-accent secondary">materialize-slider</span>
          to show and register each option.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materialize-slider-indicator</span> tag in your <span class="text-accent secondary">materialize-slider</span>
          to display the indicator you prefer.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-slider value="B">
              <materialize-slider-indicator>
                <img src="https://via.placeholder.com/20x20" />
              </materialize-slider-indicator>

              <materialize-slider-option value="A">Option A</materialize-slider-option>
              <materialize-slider-option value="B">Option B</materialize-slider-option>
              <materialize-slider-option value="C">Option C</materialize-slider-option>
            </materialize-slider>
          '></materialize-html-visualizer>        
        </p>

        <h3>Result</h3>
        <p class="text-indent no-margin">
          <materialize-slider value="B">
            <materialize-slider-indicator>
              <img src="https://via.placeholder.com/20x20/5707EB/FFFFFF" />
            </materialize-slider-indicator>

            <materialize-slider-option value="A">Option A</materialize-slider-option>
            <materialize-slider-option value="B">Option B</materialize-slider-option>
            <materialize-slider-option value="C">Option C</materialize-slider-option>
          </materialize-slider>
        </p>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="api">    
      <h2>API</h2>
  
      <table>
        <tr>
          <td>Prop</td>
          <td>Type</td>
          <td>Default</td>
        </tr>
        <tr>
          <td>className</td>
          <td>string</td>
          <td>''</td>
        </tr>
      </table>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>
      <p>CSS variables here...</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <p>One example with all variants as checkbox or switch controls</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>

      <div class="card">

        <h3>Simple slider</h3>
        <materialize-slider>
          <materialize-slider-indicator>
            <img src="https://via.placeholder.com/20x20/5707EB/FFFFFF" />
          </materialize-slider-indicator>

          <materialize-slider-option value="A">Option A</materialize-slider-option>
          <materialize-slider-option value="B">Option B</materialize-slider-option>
        </materialize-slider>

        <h3>Slider with value</h3>
        <materialize-slider value="B">
          <materialize-slider-indicator>
            <img src="https://via.placeholder.com/20x20/5707EB/FFFFFF" />
          </materialize-slider-indicator>

          <materialize-slider-option value="A">Option A</materialize-slider-option>
          <materialize-slider-option value="B">Option B</materialize-slider-option>
        </materialize-slider>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <p>More components here...</p>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>
  
  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Slider</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>      
  </div>
</div>
          