<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>SLIDER</h1>

      <p>
        The <b>materialize-slider</b> component is an easy way to see better the number input.
      </p>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeSliderModule</span> in your module.
        </p>
        <p class="text-indent margin-bottom-sm">
          - Use the <span class="text-accent secondary">materialize-slider</span> tag in your template.
        </p>
        <p class="text-indent margin-bottom-sm">
          - Use the <span class="text-accent secondary">materialize-slider-option</span> tag into your <span class="text-accent secondary">materialize-slider</span>
          to show and register each option.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materialize-slider-indicator</span> tag in your <span class="text-accent secondary">materialize-slider</span>
          to display the indicator you prefer.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-slider value="B">
              <materialize-slider-indicator>
                <img src="https://via.placeholder.com/20x20" />
              </materialize-slider-indicator>

              <materialize-slider-option value="A">Option A</materialize-slider-option>
              <materialize-slider-option value="B">Option B</materialize-slider-option>
              <materialize-slider-option value="C">Option C</materialize-slider-option>
            </materialize-slider>
          '></materialize-html-visualizer>
        </p>

        <h3>Result</h3>
        <p class="text-indent no-margin">
          <materialize-slider value="B">
            <materialize-slider-indicator>
              <img src="https://via.placeholder.com/20x20/5707EB/FFFFFF" />
            </materialize-slider-indicator>

            <materialize-slider-option value="A">Option A</materialize-slider-option>
            <materialize-slider-option value="B">Option B</materialize-slider-option>
            <materialize-slider-option value="C">Option C</materialize-slider-option>
          </materialize-slider>
        </p>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="api">
      <h2>API</h2>
      <p>
        Materialize Angular provides custom functions to add functionallity its components in different ways,
        the most common is using attributes in the component tag.
      </p>

      <div class="card">
        <h4 class="primary">@Input Properties: Slider</h4>
        <table class="table-guide margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Default</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>className</td>
              <td>string</td>
              <td></td>
              <td>
                To specify an additional CSS class, use the "className" property.
                This applies to the component's first node.
              </td>
            </tr>
            <tr>
              <td>disabled</td>
              <td>boolean</td>
              <td>false</td>
              <td>
                If true, the slider track and steps should be displayed in a disabled state.
              </td>
            </tr>
            <tr>
              <td>required</td>
              <td>boolean</td>
              <td>false</td>
              <td>
                If true, the slider element will be required.
              </td>
            </tr>
            <tr>
              <td>showLabels</td>
              <td>boolean</td>
              <td>true</td>
              <td>
                If true, option labels will be displayed.
              </td>
            </tr>
            <tr>
              <td>showTicks</td>
              <td>boolean</td>
              <td>false</td>
              <td>
                If true, ticks on slider track will be displayed.
              </td>
            </tr>
            <tr>
              <td>value</td>
              <td>number | string | boolean | null</td>
              <td>null</td>
              <td>
                The value of the slider element.
              </td>
            </tr>
          </tbody>
        </table>

        <h4 class="primary">@Input Properties: Slider Option</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Default</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>className</td>
              <td>string</td>
              <td></td>
              <td>
                To specify an additional CSS class, use the "className" property.
                This applies to the component's first node.
              </td>
            </tr>
            <tr>
              <td>value</td>
              <td>number | string | boolean | null</td>
              <td>null</td>
              <td>
                The value of the slider option element.
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card">
        <h4 class="secondary">@Output Events: Slider</h4>
        <table class="table-guide margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Signature</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>onChange</td>
              <td>onChangeEmitter(): EventEmitter&lt;number | string | boolean | null&gt;</td>
              <td>
                Event fired when the value is changed.
              </td>
            </tr>
          </tbody>
        </table>

        <h4 class="secondary">@Output Events: Slider Option</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Signature</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>onClick</td>
              <td>onClickEmitter(): EventEmitter&lt;number | string | boolean | null&gt;</td>
              <td>
                Event fired when the option is clicked.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>

      <p>
        Materialize Angular supports a lot of SASS variables to change all the component
        style so that feel to modify component look and feel by changing the following SASS variables.<br><br>

        The Materialize Angular SASS variable names are created base on the following pattern:<br><br>
        <span class="text-accent terciary">"tagClassName" + (optional "-" + "modifierTagClassName" ) + "-" + "cssProperty"</span>
      </p>

      <div class="card">
        <h4 class="terciary">.slider</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-slider-margin</td><td>0</td></tr>
            <tr><td>$materialize-slider-padding</td><td>$theme-space-xxxl $theme-space-xl $theme-space-xxl</td></tr>
            <tr><td>$materialize-slider-tap-highlight-color</td><td>transparent</td></tr>
            <tr><td>$materialize-slider-width</td><td>$theme-space-full</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.slider with modifications (.disabled)</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-slider-disabled-track-background</td><td>map-get($theme-colors, 'gray-60')</td></tr>
            <tr><td>$materialize-slider-disabled-step-background</td><td>map-get($theme-colors, 'gray-60')</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.slider-track-container</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-slider-track-container-cursor</td><td>pointer</td></tr>
            <tr><td>$materialize-slider-track-container-outline</td><td>none</td></tr>
            <tr><td>$materialize-slider-track-container-padding</td><td>$theme-space-sm 0</td></tr>
            <tr><td>$materialize-slider-track-container-position</td><td>relative</td></tr>
            <tr><td>$materialize-slider-track-container-width</td><td>$theme-space-full</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.slider-step</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-slider-step-background</td><td>map-get($theme-colors, 'primary')</td></tr>
            <tr><td>$materialize-slider-step-height</td><td>$theme-space-sm</td></tr>
            <tr><td>$materialize-slider-step-position</td><td>absolute</td></tr>
            <tr><td>$materialize-slider-step-top</td><td>50%</td></tr>
            <tr><td>$materialize-slider-step-width</td><td>$theme-border-md</td></tr>
            <tr><td>$materialize-slider-step-transform</td><td>translate(-50%, -50%);</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.slider-track</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-slider-track-background</td><td>map-get($theme-colors, 'primary')</td></tr>
            <tr><td>$materialize-slider-track-border-radius</td><td>$theme-radius-sm</td></tr>
            <tr><td>$materialize-slider-track-height</td><td>$theme-border-lg</td></tr>
            <tr><td>$materialize-slider-track-overflow</td><td>hidden</td></tr>
            <tr><td>$materialize-slider-track-position</td><td>relative</td></tr>
            <tr><td>$materialize-slider-track-width</td><td>$theme-space-full</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.slider-indicator-container</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-slider-indicator-container-left</td><td>0</td></tr>
            <tr><td>$materialize-slider-indicator-container-position</td><td>absolute</td></tr>
            <tr><td>$materialize-slider-indicator-container-top</td><td>$theme-space-half</td></tr>
            <tr><td>$materialize-slider-indicator-container-transform</td><td>translate(-50%, -50%)</td></tr>
            <tr><td>$materialize-slider-indicator-container-transition</td><td>$theme-property-left $theme-timer-md $theme-transition-function-out</td></tr>
            <tr><td>$materialize-slider-indicator-container-z-index</td><td>$theme-zindex-1</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.slider-labels-container</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-slider-labels-container-position</td><td>relative</td></tr>
            <tr><td>$materialize-slider-labels-container-width</td><td>$theme-space-full</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.slider-option</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-slider-option-color</td><td>map-get($theme-colors, 'gray-20')</td></tr>
            <tr><td>$materialize-slider-option-cursor</td><td>pointer</td></tr>
            <tr><td>$materialize-slider-option-font-family</td><td>$theme-font-family-primary</td></tr>
            <tr><td>$materialize-slider-option-font-size</td><td>$theme-font-size-md</td></tr>
            <tr><td>$materialize-slider-option-font-weight</td><td>$theme-font-weight-regular</td></tr>
            <tr><td>$materialize-slider-option-height</td><td>auto</td></tr>
            <tr><td>$materialize-slider-option-left</td><td>0</td></tr>
            <tr><td>$materialize-slider-option-position</td><td>absolute</td></tr>
            <tr><td>$materialize-slider-option-text-align</td><td>center</td></tr>
            <tr><td>$materialize-slider-option-text-transform</td><td>none</td></tr>
            <tr><td>$materialize-slider-option-top</td><td>0</td></tr>
            <tr><td>$materialize-slider-option-transform</td><td>translateX(-50%)</td></tr>
            <tr><td>$materialize-slider-option-transition</td><td>$theme-property-font-size $theme-timer-sm $theme-transition-function-ease</td></tr>
            <tr><td>$materialize-slider-option-width</td><td>auto</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.slider-option with modifications (.active)</h4>
        <table class="table-guide table-sass">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-slider-option-active-font-weight</td><td>$theme-font-weight-bold</td></tr>
            <tr><td>$materialize-slider-option-active-font-size</td><td>$theme-font-size-lg</td></tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <div class="card">
        <p class="no-margin">Out team is working hardly to give you the highest experience on our web components playground</p>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>

      <div class="card">

        <h3>Simple slider</h3>
        <materialize-slider>
          <materialize-slider-indicator>
            <img src="https://via.placeholder.com/20x20/5707EB/FFFFFF" />
          </materialize-slider-indicator>

          <materialize-slider-option value="A">Option A</materialize-slider-option>
          <materialize-slider-option value="B">Option B</materialize-slider-option>
        </materialize-slider>

        <h3>Slider with value</h3>
        <materialize-slider value="B">
          <materialize-slider-indicator>
            <img src="https://via.placeholder.com/20x20/5707EB/FFFFFF" />
          </materialize-slider-indicator>

          <materialize-slider-option value="A">Option A</materialize-slider-option>
          <materialize-slider-option value="B">Option B</materialize-slider-option>
        </materialize-slider>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <div class="up-next-container">
        <div class="up-next-item">
          <div class="card" routerLink="/guide/forms/button-toggle" materializeRipple>
            <p>Button Toggle</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/forms/input" materializeRipple>
            <p>Input</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/forms/textarea" materializeRipple>
            <p>Textarea</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
      </div>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>

  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" [topSpace]="90" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Slider</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>
  </div>
</div>
