$font-family-primary: 'Montserrat';

$font-weight-thin: 100;
$font-weight-light: 200;
$font-weight-regular: 300;
$font-weight-medium: 400;
$font-weight-bold: 500;
$font-weight-black: 600;

@import './components/cards';
@import './components/collapsible';
@import './components/drawer';
@import './components/fonts';
@import './components/glossary';
@import './components/html-visualizer';
@import './components/navbar';
@import './components/table';
@import './components/home.scss';
