<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>INPUT</h1>
  
      <p>
        The <b>materialize-input</b> component is the way to create your own inputs.
      </p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">  
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeInputModule</span> in your module.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materialize-input</span> tag in your template.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-input floatLabel="This is my input field"></materialize-input>
          '></materialize-html-visualizer>        
        </p>

        <h3>Result</h3>
        <p class="text-indent no-margin">
          <materialize-input floatLabel="This is my input field"></materialize-input>
        </p>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="api">    
      <h2>API</h2>
  
      <table>
        <tr>
          <td>Prop</td>
          <td>Type</td>
          <td>Default</td>
        </tr>
        <tr>
          <td>className</td>
          <td>string</td>
          <td>''</td>
        </tr>
      </table>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>
      <p>CSS variables here...</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <p>One example with all variants as checkbox or switch controls</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>

      <h3>Simple input example</h3>
      
      <div class="card">
        
        <h3>Input Password</h3>
        <materialize-input type="password"></materialize-input>

        <h3>Input with Value</h3>
        <materialize-input value="My value"></materialize-input>

        <h3>Input with Counter</h3>
        <materialize-input [hasCounter]="true"></materialize-input>

        <h3>Input with Placeholder</h3>
        <materialize-input label="Placeholder" placeholder="Write here"></materialize-input>

        <h3>Input Disabled</h3>
        <materialize-input [disabled]="true"></materialize-input>

        <h3>Input Disabled and value</h3>
        <materialize-input [disabled]="true" value="My value"></materialize-input>

        <h3>Input Float Label with value</h3>
        <materialize-input [disabled]="true" value="My value" floatLabel="Float label"></materialize-input>

        <h3>Input Float Label</h3>
        <materialize-input floatLabel="Float label"></materialize-input>

        <h3>Input Float Label with Placeholder</h3>
        <materialize-input floatLabel="Float Label and placeholder" placeholder="Write here"></materialize-input>

        <h3>Input with Prefix</h3>
        <materialize-input label="With prefix">
          <span materializePrefix>+1</span>
        </materialize-input>

        <h3>Input with Prefix Icon</h3>
        <materialize-input>
          <materialize-icon materializePrefix>phone</materialize-icon>
        </materialize-input>

        <h3>Input with Prefix and Float Label</h3>
        <materialize-input floatLabel="Float Label">
          <span materializePrefix>+1</span>
        </materialize-input>

        <h3>Input with Prefix Icon and Float Label</h3>
        <materialize-input floatLabel="Float Label">
          <materialize-icon materializePrefix>phone</materialize-icon>
        </materialize-input>

        <h3>Input with Suffix</h3>
        <materialize-input>
          <span materializeSuffix>.00</span>
        </materialize-input>

        <h3>Input with Suffix Icon</h3>
        <materialize-input>
          <materialize-icon materializeSuffix>phone</materialize-icon>
        </materialize-input>

        <h3>Input with Suffix and Float Label</h3>
        <materialize-input floatLabel="Float Label">
          <span materializeSuffix>.00</span>
        </materialize-input>

        <h3>Input with Suffix Icon and FloatLabel</h3>
        <materialize-input floatLabel="Float Label">
          <materialize-icon materializeSuffix>phone</materialize-icon>
        </materialize-input>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <p>More components here...</p>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>
  
  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Input</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>      
  </div>
</div>
    