.materialize-drawer.collapsible-guide.left.over {
  display: block;

  >.materialize-drawer-container {
    padding: 100px 32px 24px 16px;
    margin-left: 270px;
    margin-right: 176px;

    @media only screen and (max-width: 1024px) {
      margin-right: 0;
      padding-right: 16px;
    }

    @media only screen and (max-width: 768px) {
      margin-left: 0;
      padding-left: 16px;
    }
  }
  
  >.materialize-drawer-content {
    background: #313545;
    overflow: auto;
    padding-top: 90px;
    width: 270px;

    @media only screen and (min-width: 768px) {
      transform: translate(0) !important;
    }
  }
  
  .drawer-link {
    color: #D3D3D3;
    cursor: pointer;
    font-weight: $font-weight-light;
    outline: none;
    padding: 18px 25px;

    &.active {
      background: #008FFF;
      color: #FFFFFF;
      font-weight: 500;
      position: relative;

      &::after,
      &::before {
        content: '';
        background: #313545;
        position: absolute;
        height: 100%;
        left: 3px;
        top: 0;
        width: 3px;
      }

      &::after {
        left: 9px;
      }
    }

    .ripple {
      background-color: rgba(#FFFFFF, 0.2) !important;
    }
  }  
}
