.materialize-drawer.collapsible-guide {
  >.materialize-drawer-container {
    padding: 100px 24px 24px;
  }
  
  >.materialize-drawer-content {
    background: #313545;
    overflow: auto;
    padding-top: 100px;
    width: 270px;
  }
  
  .drawer-link {
    color: #D3D3D3;
    cursor: pointer;
    font-weight: $font-weight-light;
    outline: none;
    padding: 15px 20px;
  }  
}
