@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-thin;
  src: url('/assets/fonts/Montserrat/Montserrat-Thin.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: italic;
  font-weight: $font-weight-thin;
  src: url('/assets/fonts/Montserrat/Montserrat-ThinItalic.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-light;
  src: url('/assets/fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: italic;
  font-weight: $font-weight-light;
  src: url('/assets/fonts/Montserrat/Montserrat-LightItalic.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-regular;
  src: url('/assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: italic;
  font-weight: $font-weight-regular;
  src: url('/assets/fonts/Montserrat/Montserrat-Italic.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-medium;
  src: url('/assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: italic;
  font-weight: $font-weight-medium;
  src: url('/assets/fonts/Montserrat/Montserrat-MediumItalic.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-bold;
  src: url('/assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: italic;
  font-weight: $font-weight-bold;
  src: url('/assets/fonts/Montserrat/Montserrat-BoldItalic.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: $font-weight-black;
  src: url('/assets/fonts/Montserrat/Montserrat-Black.ttf');
}

@font-face {
  font-family: $font-family-primary;
  font-style: italic;
  font-weight: $font-weight-black;
  src: url('/assets/fonts/Montserrat/Montserrat-BlackItalic.ttf');
}
