.doc-h1 {
  font-size: 96px;
  letter-spacing: -1.5;
}

.doc-h2 {
  font-size: 60px;
  letter-spacing: -0.5;
}

.doc-h3 {
  font-size: 48px;
}

.doc-h4 {
  font-size: 34px;
}

.doc-h5 {
  font-size: 24px;
}

.doc-h6 {
  font-size: 20px;
}
