.materialize-navbar.navbar-guide {
  background: #4285f4;
  box-shadow: -5px 0 5px 0 rgba(32, 30, 41, 0.73);
  height: 70px;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;

  @media only screen and (max-width: 768px) {
    justify-content: center;
  }

  .navbar-icon-menu {
    color: #FFFFFF;
    font-size: 26px;
    display: none;
    left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    @media only screen and (max-width: 768px) {
      display: block;
    }
  }

  .navbar-logo-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 70px;
    padding: 12px 16px;
    width: max-content;

    @media only screen and (max-width: 768px) {
      padding-left: 52px;
    }
  
    img {
      max-height: 100%;
    }
  
    p {
      color: #FFFFFF;
      font-family: 'Comfortaa';
      margin: 0;
      padding-left: 12px;
    }
  } 

  .navbar-patron {
    color: #FFFFFF;
    text-align: right;
    flex: 1;

    .materialize-button.outline {
      border-color: #FFFFFF;
      color: #FFFFFF;
      display: inline-block;
      font-family: 'Comfortaa';
      font-size: 13px;
      margin: 0 4px 0 0;
      padding: 12px 10px;
      text-transform: none;

      .ripple {
        background: rgba(#FFFFFF, 0.3);
      }
    }

    a {
      color: #FFFFFF;
      text-decoration: none;
    }
  };
}
