<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>CHECKBOX</h1>

      <p>
        The <b>materialize-checkbox</b> component works as the native component but with Material Design styling animation and other features.
      </p>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeCheckboxModule</span> in your module.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materialize-checkbox</span> tag in your template.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-checkbox>This is my checkbox field</materialize-checkbox>
          '></materialize-html-visualizer>
        </p>

        <h3>Result</h3>
        <p class="text-indent no-margin">
          <materialize-checkbox>This is my checkbox field</materialize-checkbox>
        </p>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="api">
      <h2>API</h2>
      <p>
        Materialize Angular provides custom functions to add functionallity its components in different ways,
        the most common is using attributes in the component tag.
      </p>

      <div class="card">
        <h4 class="primary">@Input Properties</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Default</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>className</td>
              <td>string</td>
              <td></td>
              <td>
                To specify an additional CSS class, use the "className" property.
                This applies to the component's first node.
              </td>
            </tr>
            <tr>
              <td>disabled</td>
              <td>boolean</td>
              <td>false</td>
              <td>
                If true, the label and checkbox element should be displayed in a disabled state.
              </td>
            </tr>
            <tr>
              <td>id</td>
              <td>string</td>
              <td>
                The id of the checkbox element.
              </td>
              <td></td>
            </tr>
            <tr>
              <td>indeterminate</td>
              <td>boolean</td>
              <td>false</td>
              <td>
                The indeterminate's attribute value of the checkbox element.
              </td>
            </tr>
            <tr>
              <td>name</td>
              <td>string</td>
              <td></td>
              <td>
                The name attribute of the checkbox element.
              </td>
            </tr>
            <tr>
              <td>required</td>
              <td>boolean</td>
              <td>false</td>
              <td>
                If true, the checkbox element will be required.
              </td>
            </tr>
            <tr>
              <td>value</td>
              <td>boolean</td>
              <td>false</td>
              <td>
                The value of the checkbox element, also this value will be set on checked attribute.
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="card">
        <h4 class="secondary">@Output Events</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Signature</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>onChange</td>
              <td>onChangeEmitter(): EventEmitter&lt;boolean&gt;</td>
              <td>
                Event fired when the value is changed.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>

      <p>
        Materialize Angular supports a lot of SASS variables to change all the component
        style so that feel to modify component look and feel by changing the following SASS variables.<br><br>

        The Materialize Angular SASS variable names are created base on the following pattern:<br><br>
        <span class="text-accent terciary">"tagClassName" + (optional "-" + "modifierTagClassName" ) + "-" + "cssProperty"</span>
      </p>

      <div class="card">
        <h4 class="terciary">.checkbox</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-checkbox-cursor</td><td>pointer</td></tr>
            <tr><td>$materialize-checkbox-outline</td><td>none</td></tr>
            <tr><td>$materialize-checkbox-padding</td><td>$theme-space-sm 0</td></tr>
            <tr><td>$materialize-checkbox-tap-highlight-color</td><td>transparent</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.checkbox-label</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-checkbox-label-color</td><td>map-get($theme-colors, 'gray-20')</td></tr>
            <tr><td>$materialize-checkbox-label-font-family</td><td>$theme-font-family-primary</td></tr>
            <tr><td>$materialize-checkbox-label-font-size</td><td>$theme-font-size-md</td></tr>
            <tr><td>$materialize-checkbox-label-font-weight</td><td>$theme-font-weight-regular</td></tr>
            <tr><td>$materialize-checkbox-label-padding</td><td>0</td></tr>
            <tr><td>$materialize-checkbox-label-text-align</td><td>left</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.label</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-checkbox-indicator-background</td><td>map-get($theme-colors, 'white')</td></tr>
            <tr><td>$materialize-checkbox-indicator-border</td><td>$theme-border-md solid map-get($theme-colors, 'gray-40')</td></tr>
            <tr><td>$materialize-checkbox-indicator-border-radius</td><td>$theme-radius-xs</td></tr>
            <tr><td>$materialize-checkbox-indicator-margin</td><td>0 $theme-space-sm</td></tr>
            <tr><td>$materialize-checkbox-indicator-size</td><td>18px</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.checkbox-label-indicator</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-checkbox-indicator-arrow-color</td><td>map-get($theme-colors, 'white')</td></tr>
            <tr><td>$materialize-checkbox-indicator-arrow-left</td><td>0</td></tr>
            <tr><td>$materialize-checkbox-indicator-arrow-size</td><td>13px</td></tr>
            <tr><td>$materialize-checkbox-indicator-arrow-top</td><td>2px</td></tr>
            <tr><td>$materialize-checkbox-indicator-arrow-width</td><td>$theme-border-md</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.checkbox-label-indicator with modificications (.active, .disabled)</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-checkbox-indicator-active-background</td><td>map-get($theme-colors, 'primary')</td></tr>
            <tr><td>$materialize-checkbox-indicator-active-border</td><td>$theme-border-md solid map-get($theme-colors, 'primary')</td></tr>
            <tr><td>$materialize-checkbox-indicator-disabled-active-background</td><td>lighten(map-get($theme-colors, 'gray-40'), 30%);</td></tr>
            <tr><td>$materialize-checkbox-indicator-disabled-background</td><td>map-get($theme-colors, 'white')</td></tr>
            <tr><td>$materialize-checkbox-indicator-disabled-border</td><td>$theme-border-md solid lighten(map-get($theme-colors, 'gray-40'), 30%)</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.checkbox-indicator-indeterminate</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-checkbox-indicator-indeterminate-border</td><td>$theme-border-md solid map-get($theme-colors, 'white')</td></tr>
            <tr><td>$materialize-checkbox-indicator-indeterminate-height</td><td>0</td></tr>
            <tr><td>$materialize-checkbox-indicator-indeterminate-width</td><td>12px</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.checkbox-indicator-ripple</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-checkbox-indicator-ripple-border-radius</td><td>$theme-radius-full</td></tr>
            <tr><td>$materialize-checkbox-indicator-ripple-transition</td><td>$theme-property-background $theme-timer-sm $theme-transition-function-ease</td></tr>
            <tr><td>$materialize-checkbox-indicator-ripple-size</td><td>40px</td></tr>
            <tr><td>$materialize-checkbox-indicator-ripple-background</td><td>rgba(map-get($theme-colors, 'primary'), 0.3)</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.checkbox-indicator-ripple with modifications (:hover, .active)</h4>
        <table class="table-guide table-sass margin-bottom-lg">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-checkbox-indicator-ripple-hover-inactive-background</td><td>rgba(map-get($theme-colors, 'gray-20'), 0.1)</td></tr>
            <tr><td>$materialize-checkbox-indicator-ripple-hover-active-background</td><td>rgba(map-get($theme-colors, 'primary'), 0.2)</td></tr>
            <tr><td>$materialize-checkbox-indicator-ripple-focused-inactive-background</td><td>rgba(map-get($theme-colors, 'gray-20'), 0.05)</td></tr>
            <tr><td>$materialize-checkbox-indicator-ripple-focused-active-background</td><td>rgba(map-get($theme-colors, 'primary'), 0.1)</td></tr>
          </tbody>
        </table>

        <h4 class="terciary">.checkbox .ripple</h4>
        <table class="table-guide table-sass">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr><td>$materialize-checkbox-ripple-background</td><td>rgba(map-get($theme-colors, 'gray-20'), 0.2)</td></tr>
            <tr><td>$materialize-checkbox-ripple-active-background</td><td>rgba(map-get($theme-colors, 'primary'), 0.2)</td></tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <div class="card">
        <p class="no-margin">Out team is working hardly to give you the highest experience on our web components playground</p>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>

      <div class="card">
        <div class="example-container">
          <h3>Simple checkbox</h3>
          <materialize-checkbox>Checkbox</materialize-checkbox>
        </div>

        <div class="example-container">
          <h3>Checkbox with value</h3>
          <materialize-checkbox [value]="true">With Value</materialize-checkbox>
        </div>

        <div class="example-container">
          <h3>Checkbox disabled</h3>
          <materialize-checkbox [disabled]="true">Disabled</materialize-checkbox>
        </div>

        <div class="example-container">
          <h3>Checkbox disabled with value</h3>
          <materialize-checkbox [disabled]="true" [value]="true">Disabled with value</materialize-checkbox>
        </div>

        <div class="example-container">
          <h3>Checkbox indeterminate</h3>
          <materialize-checkbox [required]="true" [indeterminate]="true">Indeterminate</materialize-checkbox>
        </div>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <div class="up-next-container">
        <div class="up-next-item">
          <div class="card" routerLink="/guide/forms/button-toggle" materializeRipple>
            <p>Button Toggle</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/forms/radio" materializeRipple>
            <p>Radio</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/forms/switch" materializeRipple>
            <p>Switch</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
      </div>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>

  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" [topSpace]="90" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Checkbox</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>
  </div>
</div>
