<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>CHECKBOX</h1>
  
      <p>
        The <b>materialize-checkbox</b> component works as the native component but with Material Design styling animation and other features.
      </p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">  
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeCheckboxModule</span> in your module.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materialize-checkbox</span> tag in your template.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-checkbox>This is my checkbox field</materialize-checkbox>
          '></materialize-html-visualizer>        
        </p>

        <h3>Result</h3>
        <p class="text-indent no-margin">
          <materialize-checkbox>This is my checkbox field</materialize-checkbox>
        </p>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="api">    
      <h2>API</h2>
  
      <table>
        <tr>
          <td>Prop</td>
          <td>Type</td>
          <td>Default</td>
        </tr>
        <tr>
          <td>className</td>
          <td>string</td>
          <td>''</td>
        </tr>
      </table>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>
      <p>CSS variables here...</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <p>One example with all variants as checkbox or switch controls</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>

      <div class="card">
        <h3>Simple checkbox</h3>
        <materialize-checkbox>Checkbox</materialize-checkbox>

        <h3>Checkbox with value</h3>
        <materialize-checkbox [value]="true">With Value</materialize-checkbox>

        <h3>Checkbox disabled</h3>
        <materialize-checkbox [disabled]="true">Disabled</materialize-checkbox>

        <h3>Checkbox disabled with value</h3>
        <materialize-checkbox [disabled]="true" [value]="true">Disabled with value</materialize-checkbox>

        <h3>Checkbox indeterminate</h3>
        <materialize-checkbox [required]="true" [indeterminate]="true">Indeterminate</materialize-checkbox>
      </div>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <p>More components here...</p>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>
  
  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Checkbox</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>      
  </div>
</div>
