<h2>Checkboxes</h2>    
    
<materialize-tab-group>
  <materialize-tab title="OVERVIEW">
    <p>
      &lt;materialize-checkbox&gt;
    </p>
  </materialize-tab>
  <materialize-tab title="API">
    
  </materialize-tab>
  <materialize-tab title="EXAMPLES">
    <materialize-checkbox>Checkbox</materialize-checkbox>
    <materialize-checkbox [value]="true">With Value</materialize-checkbox>
    <materialize-checkbox [disabled]="true">Disabled</materialize-checkbox>
    <materialize-checkbox [disabled]="true" [value]="true">Disabled with value</materialize-checkbox>
    <materialize-checkbox [required]="true" [indeterminate]="true">Indeterminate</materialize-checkbox>      
  </materialize-tab>
</materialize-tab-group>
