/* You can add global styles to this file, and also import other style files */

@import './styles/main';

$materialize-fonts-path: '~materialize-angular/fonts';

$font-family-primary: 'Arial';

$drawer-content-background: #313545;
$drawer-container-paddin: 24px;


@import '~materialize-angular/styles/materialize-angular';
