<div class="">
  <materialize-scroll-spy class="main-container" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>NAVBAR</h1>

      <p>
        The <b>materialize-navbar</b> component is to show a list of options in floating panel mode.
      </p>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeNavbarModule</span> in your module.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materialize-navbar</span> tag in your template.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-navbar>This is my navbar</materialize-navbar>
          '></materialize-html-visualizer>
        </p>

        <h3>Result</h3>
        <div class="text-indent">
          <materialize-navbar type="over">This is my navbar</materialize-navbar>
        </div>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="api">
      <h2>API</h2>

      <p>
        Materialize Angular provides custom functions to add functionallity its components in different ways,
        the most common is using attributes in the component tag.
      </p>

      <div class="card">
        <h4 class="primary">@Input Properties</h4>
        <table class="table-guide">
          <thead>
            <tr>
              <td>Name</td>
              <td>Type</td>
              <td>Default</td>
              <td>Description</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>className</td>
              <td>string</td>
              <td>" "</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>
      <p>
        Materialize Angular supports a lot of SASS variables to change all the component
        style so that feel to modify component look and feel by changing the following SASS variables.<br><br>

        The Materialize Angular SASS variable names are created base on the following pattern:<br><br>
        <span class="text-accent terciary">"tagClassName" + (optional "-" + "modifierTagClassName" ) + "-" + "cssProperty"</span>
      </p>

      <div class="card">
        <h4 class="terciary">.navbar</h4>
        <table class="table-guide table-sass">
          <thead>
            <tr>
              <td>Name</td>
              <td>Default</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$materialize-navbar-background</td>
              <td>map-get($theme-colors, 'primary')</td>
            </tr>
            <tr>
              <td>$materialize-navbar-color</td>
              <td>map-get($theme-colors, 'white')</td>
            </tr>
            <tr>
              <td>$materialize-navbar-box-shadow</td>
              <td>$theme-shadow-sm</td>
            </tr>
            <tr>
              <td>$materialize-navbar-font-family</td>
              <td>$theme-font-family-primary</td>
            </tr>
            <tr>
              <td>$materialize-navbar-font-size</td>
              <td>$theme-font-size-lg</td>
            </tr>
            <tr>
              <td>$materialize-navbar-font-weight</td>
              <td>$theme-font-weight-regular</td>
            </tr>
            <tr>
              <td>$materialize-navbar-height</td>
              <td>72px</td>
            </tr>
            <tr>
              <td>$materialize-navbar-margin</td>
              <td>0 0 $theme-space-sm</td>
            </tr>
            <tr>
              <td>$materialize-navbar-padding</td>
              <td>0 $theme-space-xs</td>
            </tr>
          </tbody>
        </table>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <div class="card">
        <p class="no-margin">Out team is working hardly to give you the highest experience on our web components playground</p>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>

      <div class="card">
        <h3>Simple navbar</h3>
        <materialize-navbar>Navbar</materialize-navbar>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <div class="up-next-container">
        <div class="up-next-item">
          <div class="card" routerLink="/guide/components/collapsible" materializeRipple>
            <p>Collapsible</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/layout/drawer" materializeRipple>
            <p>Drawer</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
        <div class="up-next-item">
          <div class="card" routerLink="/guide/layout/tab" materializeRipple>
            <p>Tab</p>
            <materialize-icon>chevron_right</materialize-icon>
          </div>
        </div>
      </div>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>

  <div class="glossary-container">
    <h2>Contents</h2>
    <materialize-glossary [scrollSpy]="scrollSpy" [topSpace]="90" className="glossary-guide">
      <materialize-glossary-item referenceId="title">Navbar</materialize-glossary-item>
      <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
      <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
      <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
      <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
      <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
      <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
    </materialize-glossary>
  </div>
</div>
