<div class="row">
  <materialize-scroll-spy class="col-10" #scrollSpy>
    <materialize-scroll-spy-item id="title">
      <h1>NAVBAR</h1>
  
      <p>
        The <b>materialize-navbar</b> component is to show a list of options in floating panel mode.
      </p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="usage">
      <h2>USAGE</h2>

      <div class="card">  
        <h3>How to use</h3>

        <p class="text-indent margin-bottom-sm">
          - Import the <span class="text-accent">MaterializeNavbarModule</span> in your module.
        </p>
        <p class="text-indent">
          - Use the <span class="text-accent secondary">materialize-navbar</span> tag in your template.
        </p>

        <h3>Code</h3>
        <p class="text-indent">
          <materialize-html-visualizer html='
            <materialize-navbar>This is my navbar</materialize-navbar>
          '></materialize-html-visualizer>        
        </p>

        <h3>Result</h3>
        <div class="text-indent">
          <materialize-navbar type="over">This is my navbar</materialize-navbar>
        </div>
      </div>
    </materialize-scroll-spy-item>

    <materialize-scroll-spy-item id="api">    
      <h2>API</h2>
  
      <table>
        <tr>
          <td>Prop</td>
          <td>Type</td>
          <td>Default</td>
        </tr>
        <tr>
          <td>className</td>
          <td>string</td>
          <td>''</td>
        </tr>
      </table>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="theming">
      <h2>THEMING</h2>
      <p>CSS variables here...</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="playground">
      <h2>PLAYGROUND</h2>
      <p>One example with all variants as checkbox or switch controls</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="examples">
      <h2>EXAMPLES</h2>
      <p>Many examples of them with title</p>
    </materialize-scroll-spy-item>
  
    <materialize-scroll-spy-item id="up_next">
      <h2>NEXT</h2>
      <p>More components here...</p>
    </materialize-scroll-spy-item>
  </materialize-scroll-spy>
  
  <materialize-glossary class="col-2"[scrollSpy]="scrollSpy">
    <h2>Contents</h2>
    <materialize-glossary-item referenceId="title">Navbar</materialize-glossary-item>
    <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
    <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
    <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
    <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
    <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
    <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
  </materialize-glossary>      
</div>
        