<div class="home-page">
  <div class="header-container">
    <div class="logo-container">
      <img src="assets/images/logo-white.svg" />
    </div>
    <div class="title-container">
      <h1>Materialize Angular</h1>
      <h2>Frontend design system for Angular</h2>

      <section class="links-container">
        <materialize-button level="outline" routerLink="/guide/get-started">GET STARTED</materialize-button>
        <materialize-button>GITHUB</materialize-button>
        <materialize-button>GET HELP</materialize-button>
      </section>
    </div>
  </div>

  <div class="materialize-container">
    <div class="materialize-row materialize-row-gap">
      <div class="materialize-col-12 materialize-col-sm-5">
        <div class="info-text">
          <h3>Vibrant community</h3>
          <p>
            When you run into a roadblock you need assistance right away.
            Materialize Angular offers support in our massive community on discord.
          </p>
        </div>
        <div class="info-text rounded">
          <h3>Semantic Material Components</h3>
          <p>
            Be prepared for an armada of specialized components at your disposal.
            With over 80 in total, there is a solution to any situation.
          </p>
        </div>
        <div class="info-text">
          <h3>Raedy-Made Project Scaffolding</h3>
          <p>
            Materialize Angular supports the future of Angular tooling through its
            Materialize Angular plugin.
            With one command you are ready to start building your next great idea.
          </p>
        </div>
      </div>
      <div class="materialize-col-12 materialize-col-sm-7 main-image-container">
        <img src="assets/images/main-slide-img2.png" />
      </div>
    </div>
    <div class="materialize-row materialize-row-gap">
      <h1 class="materialize-col-12 text-align-center">Project Sponsors</h1>
      <div class="materialize-col-3">
        <a href="#" class="sponsor-request text-align-center">
          Let's move forward together.
          You could be our first sponsor.
        </a>
      </div>
    </div>
    <div class="materialize-row materialize-row-gap">
      <h1 class="materialize-col-12 text-align-center">Open Collective Sponsors</h1>
      <div class="materialize-col-12">
        <materialize-button>Support Materialize Angular</materialize-button>
      </div>
    </div>
  </div>
  <div class="contact-wrapper">
    <div class="materialize-container">
      <div class="materialize-row materialize-row-gap">
        <h1 class="materialize-col-12 text-align-center title-text">Contact</h1>
        <div class="materialize-col-6">
          <materialize-input label="Placeholder" placeholder="Name*"></materialize-input>
          <materialize-input label="Placeholder" placeholder="Email*"></materialize-input>
          <materialize-input label="Placeholder" placeholder="Phone*"></materialize-input>
        </div>
        <div class="materialize-col-6">
          <materialize-textarea placeholder="Message*"></materialize-textarea>
        </div>
        <div class="materialize-col-12">
          <materialize-button>send</materialize-button>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="materialize-container">
      <div class="materialize-row">
        <div class="materialize-col-12 materialize-col-md-6">
          <span class="copyright">Copyright © WorkyLab 2019</span>
        </div>
          <div class="materialize-col-12 materialize-col-md-6 text-align-right">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="/privacy-policy.html">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="/use-terms.html">Terms of Use</a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </footer>  
</div>
