<div class="header-banner full-container">
  <div class="container">
    <div class="row row-gap">
      <div class="col-12 col-sm-3">
        <img src="assets/images/logo.svg" />
      </div>
      <div class="col-12 col-sm-9">
        <h1 class="title-text">materialize angular</h1>
        <h2 class="title-text">component framework</h2>
        <section class="row row-gap button-section">
          <div class="col-12 col-sm-2">
            <materialize-button level="outline">GET STARTED</materialize-button>
          </div>
          <div class="col-12 col-sm-2">
            <materialize-button>GITHUB</materialize-button>
          </div>
          <div class="col-12 col-sm-2">
            <materialize-button>GET HELP</materialize-button>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-gap">
    <div class="col-12 col-sm-4">
      <div class="info-text">
        <h3>Vibrant community</h3>
        <p>
          When you run into a roadblock you need assistance right away.
          Materialize Angular offers support in our massive community on discord.
        </p>
      </div>
      <div class="info-text rounded">
        <h3>Semantic Material Components</h3>
        <p>
          Be prepared for an armada of specialized components at your disposal.
          With over 80 in total, there is a solution to any situation.
        </p>
      </div>
      <div class="info-text">
        <h3>Raedy-Made Project Scaffolding</h3>
        <p>
          Materialize Angular supports the future of Angular tooling through its
          Materialize Angular plugin.
          With one command you are ready to start building your next great idea.
        </p>
      </div>
    </div>
    <div class="col-12 col-sm-8 main-image-container">
      <img src="assets/images/main-slide-img2.png" />
    </div>
  </div>
  <div class="row row-gap">
    <h1 class="col-12 text-align-center">Project Sponsors</h1>
    <div class="col-3">
      <a href="#" class="sponsor-request text-align-center">
        Let's move forward together.
        You could be our first sponsor.
      </a>
    </div>
  </div>
  <div class="row row-gap">
    <h1 class="col-12 text-align-center">Open Collective Sponsors</h1>
    <div class="col-12">
      <materialize-button>Support Materialize Angular</materialize-button>
    </div>
  </div>
</div>
<div class="contact-wrapper full-container">
  <div class="container">
    <div class="row row-gap">
      <h1 class="col-12 text-align-center title-text">Contact</h1>
      <div class="col-6">
        <materialize-input label="Placeholder" placeholder="Name*"></materialize-input>
        <materialize-input label="Placeholder" placeholder="Email*"></materialize-input>
        <materialize-input label="Placeholder" placeholder="Phone*"></materialize-input>
      </div>
      <div class="col-6">
        <materialize-textarea placeholder="Message*"></materialize-textarea>
      </div>
      <div class="col-12">
        <materialize-button>send</materialize-button>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright © Worky Lab 2019</span>
      </div>

      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://twitter.com/workylab" target="_blank">
              <materialize-icon>twitter</materialize-icon>
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.facebook.com/Workylab-1749192281891874/" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.instagram.com/workylab" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <materialize-icon>location_on</materialize-icon>
            <a href="https://www.linkedin.com/company/workylab" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="/privacy-policy.html">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="/use-terms.html">Terms of Use</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</footer>
<router-outlet></router-outlet>
