<div class="home-page">
  <div class="header-container">
    <div class="logo-container">
      <img src="assets/images/logo-white.svg" />
    </div>
    <div class="title-container">
      <h1>Materialize Angular</h1>
      <h2>Frontend design system for Angular</h2>

      <section class="links-container">
        <materialize-button level="outline" routerLink="/guide/get-started">GET STARTED</materialize-button>
        <a href="https://github.com/workylab/materialize-angular" target="_blank">
          <materialize-button>GITHUB</materialize-button>
        </a>

        <a href="https://www.npmjs.com/package/materialize-angular" target="_blank">
          <materialize-button>NPM</materialize-button>
        </a>

        <!-- <materialize-button>GET HELP</materialize-button> -->
      </section>
    </div>
  </div>

  <div class="materialize-container">
    <div class="materialize-row materialize-row-gap">
      <div class="materialize-col-12 materialize-col-sm-5">
        <div class="info-text">
          <h3>Open Source</h3>
          <p>
            We love Open Source community and we would like to share this project.
            Materialize Angular offers support in our massive community on Spectrum.
          </p>
        </div>
        <div class="info-text rounded">
          <h3>Material Components</h3>
          <p>
            With over 30 in total, there is a solution to any situation.
            We are continuos working in new components and solutions.
          </p>
        </div>
        <div class="info-text">
          <h3>Project ready</h3>
          <p>
            Materialize Angular is easy to install and start use quickly.
            You can use for all of your Angular projects. Enjoy!
          </p>
        </div>
      </div>
      <div class="materialize-col-12 materialize-col-sm-7 main-image-container">
        <img class="materialize-img-fluid" src="assets/images/main-slide.svg" />
      </div>
    </div>
  </div>
  <footer class="footer">
    <span class="copyright">Copyright ©WorkyLab 2019</span>
  </footer>  
</div>
