<materialize-scroll-spy className="main-container" #scrollSpy>
  <materialize-scroll-spy-item id="title">
    <h1>ACCORDION</h1>

    <materialize-card>

      The <b>materialize-accordion</b> component is useful for reducing vertical space with
      large amounts of information. The default functionality of the component is to only
      display one expansion-panel body at a time.
    </materialize-card>
  </materialize-scroll-spy-item>
  <materialize-scroll-spy-item id="usage">
    <h1>USAGE</h1>

    <materialize-card>
      Expansion panels in their simplest form display a list of expandable items.

      <materialize-accordion>
        <materialize-collapsible>
          <materialize-collapsible-title>Collapsible 1</materialize-collapsible-title>
          <materialize-collapsible-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sint magnam impedit repellendus excepturi deleniti blanditiis optio ratione porro esse, beatae iste adipisci debitis, nisi reprehenderit in ipsam molestias placeat.
          </materialize-collapsible-content>
        </materialize-collapsible>
        <materialize-collapsible>
          <materialize-collapsible-title>Collapsible 2</materialize-collapsible-title>
          <materialize-collapsible-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sint magnam impedit repellendus excepturi deleniti blanditiis optio ratione porro esse, beatae iste adipisci debitis, nisi reprehenderit in ipsam molestias placeat.
          </materialize-collapsible-content>
        </materialize-collapsible>
      </materialize-accordion>

      <materialize-html-visualizer html="
        <materialize-accordion>
          <materialize-collapsible>
            <materialize-collapsible-title>Collapsible 1</materialize-collapsible-title>
            <materialize-collapsible-content>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sint magnam impedit repellendus excepturi deleniti blanditiis optio ratione porro esse, beatae iste adipisci debitis, nisi reprehenderit in ipsam molestias placeat.
            </materialize-collapsible-content>
          </materialize-collapsible>
          <materialize-collapsible>
            <materialize-collapsible-title>Collapsible 2</materialize-collapsible-title>
            <materialize-collapsible-content>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni sint magnam impedit repellendus excepturi deleniti blanditiis optio ratione porro esse, beatae iste adipisci debitis, nisi reprehenderit in ipsam molestias placeat.
            </materialize-collapsible-content>
          </materialize-collapsible>
        </materialize-accordion>
      ">
      </materialize-html-visualizer>
    </materialize-card>
  </materialize-scroll-spy-item>
  <materialize-scroll-spy-item id="api">
    <materialize-card>
      <h1>API</h1>

      <table>
        <tr>
          <td>Prop</td>
          <td>Type</td>
          <td>Default</td>
        </tr>
        <tr>
          <td>className</td>
          <td>string</td>
          <td>''</td>
        </tr>
      </table>
    </materialize-card>
  </materialize-scroll-spy-item>
  <materialize-scroll-spy-item id="theming">
    <materialize-card>
      <h1>THEMING</h1>

      CSS variables here...
    </materialize-card>
  </materialize-scroll-spy-item>
  <materialize-scroll-spy-item id="playground">
    <h1>PLAYGROUND</h1>

    <materialize-card>
      One example with all variants as checkbox or switch controls
    </materialize-card>
  </materialize-scroll-spy-item>
  <materialize-scroll-spy-item id="examples">
    <h1>EXAMPLES</h1>

    <materialize-card>
      Many examples of them with title
    </materialize-card>
  </materialize-scroll-spy-item>
  <materialize-scroll-spy-item id="up_next">
    <h1>NEXT</h1>

    <materialize-card>
      More components here...
    </materialize-card>
  </materialize-scroll-spy-item>
</materialize-scroll-spy>

<materialize-glossary className="right-container" [scrollSpy]="scrollSpy">
  <h2>Contents</h2>
  <materialize-glossary-item referenceId="title">Accordion</materialize-glossary-item>
  <materialize-glossary-item referenceId="usage">Usage</materialize-glossary-item>
  <materialize-glossary-item referenceId="api">API</materialize-glossary-item>
  <materialize-glossary-item referenceId="theming">Theming</materialize-glossary-item>
  <materialize-glossary-item referenceId="playground">Playground</materialize-glossary-item>
  <materialize-glossary-item referenceId="examples">Examples</materialize-glossary-item>
  <materialize-glossary-item referenceId="up_next">Up Next</materialize-glossary-item>
</materialize-glossary>
